body {
  background-color: #004466;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.acceptButton {
    background-color: #557df7;
    border: none; 
    border-radius: 20px 20px 20px 1px;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.rejectButton {
    background-color: #F58025;
    border: none; 
    border-radius: 20px 1px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.nom {
  font-weight: bold;
  color: black;
  background-color: #f0faff;
  border-left-style: solid;
  border-radius: 0px;
  border-color: #F58025;
  border-width: 10px;
  padding: 15px 0px 30px 30px;
}

.error {
  font-weight: bold;
  color: black;
  background-color: #f0faff;
  border-left-style: solid;
  border-radius: 0px;
  border-color: #F58025;
  border-width: 10px;
  padding: 15px 0px 30px 30px;
  white-space: pre;
}

.nom p {
  color: black;
  border: none;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;

}
.nom input.textfield {
  left: 100px;
  display: block;
  background-color: #f0faff;
  border: none;
  border-bottom-style: solid;
  border-color: #F58025;
  color: black;
  padding: 10px;
  text-decoration: none;
  width: 95%;
  font-size: 18px;
  cursor: pointer;
}

.nom form {
  display: inline;
}

.main {
  font-size: 16px;
  padding: 15px;
  overflow-y: auto;
  margin-top: 100px;
}

.main p.misc {
  background-color: #F58025;
  border: solid white thick;
  text-align: center; 
  border-radius: 30px 1px 30px 1px;
  color: white;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
}

.header {
  z-index: 5;
  width: 100%;
  overflow: hidden;
  position: fixed;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  border-bottom-style: solid;
  border-color: #F58025;
  border-width: thick;
  top: 0px;
}

.header span {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  color: #00111a;
}

.header a {
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 25px;
  border-radius: 20px 1px 20px 20px;
}

.header a.logo {
  font-size: 26px;
  float: left;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  background-color: #F58025;
  border-radius: 20px 20px 20px 1px;
}
.header a.user {
  float: right;
  color: white;
  background-color: #557df7;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  text-align: center;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #00111a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-weight: bold;
}

.sidenav a:hover {
  color: white;
}

.sidenav a.active {
  background-color: #F58025;
  color: white;
  border: solid white thick;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}




