<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
        <style>
          .card-img-top {
            width: 100%;
            height: 18rem;
            object-fit: cover;
          }
        </style>
	</head>
	<body class='bg-light'>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <br><br><a class="navbar-brand font-weight-bold" href="index">Students' Speaker Initiative</a>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav d-flex justify-content-end w-100">
              <li class="nav-item">
                <a class="nav-link" href="index" style="padding-right: 30px;">Go Back</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container-fluid text-center">
          <br><h2>About The Developers</h2><hr>
          <div class="card-deck">
            <div class="card" style="width: 18rem; border-width: thin; border-color: #F58025">
                <img class="card-img-top cld-responsive img-fluid" alt="hello" 
                src="static/charlievrattos.jpg">
                <div class="card-body">
                <p class="card-text"><strong>Charlie Vrattos ('22)</strong> <br>CHM A.B.<br> Interested in applications of computing in chemistry and biology.
                    From New York City and sings in Princeton Chapel Choir. </p>
                </div>
            </div>
            <div class="card" style="width: 18rem; border-width: thin; border-color: #F58025">
                <img class="card-img-top cld-responsive img-fluid" alt="hello" src=static/carolinedivittorio.png>
                <div class="card-body">
                <p class="card-text"><strong>Caroline di Vittorio ('22)</strong> <br>COS B.S.E<br> From Brussels, Belgium. 
                Interested in robotics and intelligent systems. Spends most of her time training and competing at the
                international level in equestrian showjumping. </p>
                </div>
            </div>
            <div class="card" style="width: 18rem; border-width: thin; border-color: #F58025">
                <img class="card-img-top cld-responsive img-fluid" alt="hello" src=static/thomas.jpg>
                <div class="card-body">
                <p class="card-text"><strong>Thomas Johnson ('22)</strong> <br>COS B.S.E.<br> Interested in ethical computing and autonomous vehicles.
                    Part of Princeton's first transfer class since 1990.
                    Before attending Princeton, served four years in the U.S. Army as a combat medic with one deployment to Afghanistan.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem; border-width: thin; border-color: #F58025">
                <img class="card-img-top cld-responsive img-fluid" alt="hello" src=static/epitorres.jpg>
                <div class="card-body"> 
                <p class="card-text"><strong>Epi Tores ('22) </strong><br>COS A.B<br> Has a passion for anything that combines aesthetics and technology, and hopes to one day work in the film and games industry. Loves eating brunch, watching movies, and drinking coffee in his free time.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem; border-width: thin; border-color: #F58025">
                <img class="card-img-top cld-responsive img-fluid" alt="hello" src=static/lesliekim.jpeg>
                <div class="card-body">
                <p class="card-text"><strong>Leslie Kim ('22)</strong> <br>COS A.B<br></p>Interested in 
                machine learning and the intersection between tech and law. Lives in Los Angeles and likes 
                the beach, boba, and watching Love Island with her sister. 
                </div>
            </div>

          </div>
        </div>
        <hr><br><br>
	</body>
</html>
