<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
</head>
<body class="bg-light">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <a class="navbar-brand font-weight-bold" href="index">Students' Speaker Initiative</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav d-flex justify-content-end w-100">
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Speaker Information
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="aNoms">View Nominations</a>
                            <a class="dropdown-item" href="aVotes">Check Standings</a>
                            <a class="dropdown-item" href="aReports">Review Reports</a>
                          </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Conversation Information
                        </a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="acNoms">View Nominations</a>
                        <a class="dropdown-item" href="acVotes">Check Standings</a>
                        <a class="dropdown-item" href="acReports">Review Reports</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <br><p class="font-weight-bold">{{errorMsg}}</p>
            <script type="text/javascript">
                    function handleTextBoxNom(value) {
                        if (value == 1) {
                            let limited = document.getElementById("limitnom");
                            let text = document.getElementById("nomtext")
                            text.disabled = limited.checked ? false : true;
                            if (!text.disabled) {
                                text.focus()
                            }
                        }
                        if (value == 2) {
                            let limited = document.getElementById("limitend");
                            let text = document.getElementById("endorsetext")
                            text.disabled = limited.checked ? false : true;
                            if (!text.disabled) {
                                text.focus()
                            }
                        }
                        if (value == 3) {
                            let limited = document.getElementById("limitvot");
                            let text = document.getElementById("votetext")
                            text.disabled = limited.checked ? false : true;
                            if (!text.disabled) {
                                text.focus()
                            }
                        }
                    }
                </script>
                <form action="new_cycle" method="get">
                    <div class="container-fluid rounded-lg text-light bg-secondary form-group">
                        <br><h4 class="lead text-center font-weight-bold">Let's create a new cycle!</h4> <hr>
                        <label for="cname">Name of voting cycle:</label>
                        <input type="hidden" name="admin" value={{ username }}>
                        <input type="text" class="form-control" placeholder="Name" id="cname" name="cname" value= {{cname}}>
                        <hr>

                        <label for="nominations">Number of nominations allowed per student:</label> <br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="nominatenum" value="unlimited" id="unlimitnom" onclick="handleTextBoxNom(1)" >
                            <label class="custom-control-label" for="unlimitnom">Unlimited Nominations</label><br>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="nominatenum" value="limited" id="limitnom" onclick="handleTextBoxNom(1)">
                            <label class="custom-control-label" for="limitnom">Limited Nominations</label>
                            <input type="number" name="nominatetext" id="nomtext" disabled="disabled">
                        </div>
                        <br>

                        <label for="endorsements">Number of endorsements allowed per student:</label> <br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="endorsenum" value="unlimited" id="unlimitend" onclick="handleTextBoxNom(2)" >
                            <label class="custom-control-label" for="unlimitend">Unlimited Endorsements</label><br>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="endorsenum" value="limited" id="limitend" onclick="handleTextBoxNom(2)">
                            <label class="custom-control-label" for="limitend">Limited Endorsements</label>
                            <input type="number" name="endorsetext" id="endorsetext" disabled="disabled">
                        </div>
                        <br>

                        <label for="votes">Number of votes allowed per student:</label> <br>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="votenum" value="unlimited" id="unlimitvot" onclick="handleTextBoxNom(3)" >
                            <label class="custom-control-label" for="unlimitvot">Unlimited Votes</label><br>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="votenum" value="limited" id="limitvot" onclick="handleTextBoxNom(3)">
                            <label class="custom-control-label" for="limitvot">Limited Endorsements</label>
                            <input type="number" name="votetext" id="votetext" disabled="disabled">
                        </div>
                        <hr>

 

                        <label for="rollover">Rollover from previous cycle: </label> <br>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="rollovernom" name="nom">
                            <label class="custom-control-label" for="rollovernom">Nominations</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="rolloverend" name="end">
                            <label class="custom-control-label" for="rollovernend">Endorsements</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="rollovervot" name="vot">
                            <label class="custom-control-label" for="rollovervot">Votes</label>
                        </div> <hr>


                        <label for="threshold">Endorsement threshold </label>
                        <input type="number" name="threshold" value={{threshold}}><br>

                        <label for="nomdate">Set nominations to begin on </label>
                        <input type="date" name="nomdate" value={{nomdate}}> <br>
                        
                        <label for="endorsedate">Set endorsements to begin on </label>
                        <input type="date" name="endorsedate" value={{endorsedate}}> <br>
                        
                        <label for="votingdate">Set voting to begin on </label>
                        <input type="date" name="votingdate" value={{votingdate}}> <br>

                        <label for="enddate">Set cycle to end on </label>
                        <input type="date" name="enddate" value={{enddate}}> <br>

                        <hr>
                        <center><input type="submit" class="btn btn-lg btn-primary" value = "Submit"></center>
                        <br>
                    </div>
                </form>

            </div>
        </div>
    </body>
</html>