<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>
    <body class="bg-light">
        {% include 'aHeader.html' %}
        <script>
            function handleTextBoxNom(value) {
                if (value == 1) {
                    let limited = document.getElementById("limitnom");
                    let text = document.getElementById("nomtext");
                    
                    text.disabled = limited.checked ? false : true;
                    if (!text.disabled) {
                        text.focus()
                    }
                }
                if (value == 2) {
                    let limited = document.getElementById("limitend");
                    let text = document.getElementById("endorsetext");
                    text.disabled = limited.checked ? false : true;
                    if (!text.disabled) {
                            text.focus()
                    }
                }
                if (value == 3) {
                    let limited = document.getElementById("limitvot");
                    let text = document.getElementById("votetext");
                    text.disabled = limited.checked ? false : true;
                    if (!text.disabled) {
                        text.focus()
                    }
                }
            }
        </script>

        <div class="container">
            <br>
            <div class="container bg-white rounded-lg text-left text-dark" style="border: solid medium #F58025">
                <br><h2 class="font-italic text-center">Let's Create A New Cycle!</h2><hr>
                <form action="new_cycle" id="newcycle_form" method="get" autocomplete="off">
                    <div class="container form-row form-group">

                        <label class="col-sm-2 font-weight-bold" for="cname">Name Of Cycle:</label>
                        <input type="hidden" name="admin" value="{{username}}">
                        <input type="text" class="form-control col-sm-10 mb-4" placeholder="Name" id="cname" name="cname" required>
                        <div class="clearfix"></div>
                        <label class="font-weight-bold col-sm-3" for="nominations">Nominations Per Student:</label>
                        <div class="input-group col-sm-9 mb-4" id="nominations">
                            <div class="custom-control custom-radio col-sm-4">
                                <input type="radio" class="custom-control-input" name="nominatenum" value="unlimited" id="unlimitnom" onclick="handleTextBoxNom(1)" required>
                                <label class="custom-control-label" for="unlimitnom">Unlimited</label><br>
                            </div>
                            <div class="custom-control custom-radio col-sm-8">
                                <input type="radio" class="custom-control-input" name="nominatenum" value="limited" id="limitnom" onclick="handleTextBoxNom(1)">
                                <label class="custom-control-label" for="limitnom">Limited</label>
                                <input type="number" class="form-control numInput" placeholder="Number" name="nominatetext" id="nomtext" disabled="disabled" min="1" required>
                            </div>
                        </div>

                        <label class="font-weight-bold col-sm-3" for="endorsements">Endorsements Per Student:</label> <br>
                        <div class="input-group col-sm-9 mb-4" id="endorsements">
                            <div class="custom-control custom-radio col-sm-4">
                                <input type="radio" class="custom-control-input" name="endorsenum" value="unlimited" id="unlimitend" onclick="handleTextBoxNom(2)" required>
                                <label class="custom-control-label" for="unlimitend">Unlimited</label><br>
                            </div>
                            <div class="custom-control custom-radio col-sm-8">
                                <input type="radio" class="custom-control-input" name="endorsenum" value="limited" id="limitend" onclick="handleTextBoxNom(2)">
                                <label class="custom-control-label" for="limitend">Limited</label>
                                <input type="number" class="form-control numInput" placeholder="Number" name="endorsetext" id="endorsetext" disabled="disabled" min="1" required>
                            </div>
                        </div>

                        <label class="font-weight-bold col-sm-3" for="votes">Votes Per Student:</label> <br>
                        <div class="input-group col-sm-9 mb-4" id="votes">
                            <div class="custom-control custom-radio col-sm-4">
                                <input type="radio" class="custom-control-input" name="votenum" value="unlimited" id="unlimitvot" onclick="handleTextBoxNom(3)" required>
                                <label class="custom-control-label" for="unlimitvot">Unlimited</label><br>
                            </div>
                            <div class="custom-control custom-radio col-sm-8">
                                <input type="radio" class="custom-control-input" name="votenum" value="limited" id="limitvot" onclick="handleTextBoxNom(3)">
                                <label class="custom-control-label" for="limitvot">Limited</label>
                                <input type="number" class="form-control numInput" placeholder="Number" name="votetext" id="votetext" disabled="disabled" min="1" required>
                            </div>
                        </div>

                        <label class="font-weight-bold col-sm-3" for="endorsethresh">Endorsement Threshold: </label>
                        <input class="form-control col-sm-9 mb-4 numInput" type="number" placeholder="Number" name="endorsethresh" min="1" required>

                        <label class="font-weight-bold col-sm-12 mb-2 pt-4" style="border-top: solid thin rgba(0, 0, 0, 0.1)" for="rollover">Rollover from Previous Cycle: </label>
                        <label class="col-sm-3" for="rolloverthresh">Threshold:</label>
                        <input class="form-control col-sm-9 mb-2 numInput" type="number" placeholder="Number" name="rolloverthresh" id="rolloverthresh" min="0">

                        <div class="input-group col-sm-12 pl-2 mb-4" style="border-bottom: solid thin rgba(0, 0, 0, 0.1)">
                            <div class="custom-control custom-checkbox col-sm-4">
                                <input type="checkbox" class="custom-control-input" name="rollovernom" id="rollovernom">
                                <label class="custom-control-label" for="rollovernom">Rollover Nominations?</label>
                            </div>
                            <div class="custom-control custom-checkbox col-sm-4">
                                <input type="checkbox" class="custom-control-input" name="rolloverend" id="rolloverend">
                                <label class="custom-control-label" for="rolloverend">Rollover Endorsements?</label>
                            </div>
                            <div class="custom-control custom-checkbox col-sm-4 mb-4">
                                <input type="checkbox" class="custom-control-input" name="rollovervot" id="rollovervot">
                                <label class="custom-control-label" for="rollovervot">Rollover Votes?</label>
                            </div>
                        </div>

                        <label class="col-sm-3 font-weight-bold" for="nomdate">Nomination Start Date: </label>
                        <input type="date" class="dateInput form-control col-sm-9 mb-4" name="nomdate" required> 
                                
                        <label class="col-sm-3 font-weight-bold" for="endorsedate">Endorsement Start Date: </label>
                        <input type="date" class="dateInput form-control col-sm-9 mb-4" name="endorsedate" required> <br>
                        
                        <label class="col-sm-3 font-weight-bold" for="votingdate">Vote Start Date: </label>
                        <input type="date" class="dateInput form-control col-sm-9 mb-4" name="votingdate" required> <br>

                        <label class="col-sm-3 font-weight-bold" for="resultsdate">Voting End Date: </label>
                        <input type="date" class="dateInput form-control col-sm-9 mb-4" name="resultsdate" required> <br>

                        <label class="col-sm-3 font-weight-bolder" for="enddate">Cycle End Date: </label>
                        <input type="date" class="dateInput form-control col-sm-9 mb-4" name="enddate" required>

                        <div class="pt-4 col-sm-12 text-center" style="border-top: solid thin rgba(0, 0, 0, 0.1)">
                            <button type="button" class="submitButton btn btn-lg font-weight-bold btn-primary"> Create This Cycle</button>
                        </div>
                    </div>
                </form>
            </div>
            <br><br>
        </div>
        <div class="modal" id="errorModal">
            <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Error</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <p id="error" class="lead"></p>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-danger mx-auto" data-dismiss="modal">Dismiss This Message</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function createValidation() 
            {
                $(document).on('keydown','.numInput', function(e){
                    if (e.shiftKey === true ) {
                        if (e.which == 9) {
                            return true;
                        }
                        return false;
                    }
                    if (e.which > 57) {
                        return false;
                    }
                    if (e.which==32) {
                        return false;
                    }
                    return true;
                });

                $(document).on("change", ".numInput", function() {
                    let current = $(this).val();
                    if (this.id == "rolloverthresh") {
                        if (current < 0) {
                            $(this).val(null);
                            $('#errorModal').modal("show");
                            $("p[id='error']").html("Unfortunately, you may not set this value to be a negative number.");
                        }
                    }
                    else {
                        if (current < 1) {
                            $(this).val(null);
                            $('#errorModal').modal("show");
                            $("p[id='error']").html("Unfortunately, you may not set this value to be less than 1.");
                        }
                    } 
                })

                $(document).on("click", ".submitButton", function(e) {
                    let dategroup = $(".dateInput")
                    for (let i=0; i<dategroup.length-1; i++) {
                        if ($(dategroup[i]).val() >= $(dategroup[i+1]).val()) {
                            $('#errorModal').modal("show")
                            $("p[id='error']").html("You have entered erroneous dates for this cycle. Please recall that the dates of a cycle must be in strictly increasing order from the nomination start date to the cycle end date.");
                            return false;
                        }
                    }

                    $(this).prop("disabled", true);
                    $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
                    $("#newcycle_form").submit();
                })
            }

            function setup()
            {
                $("#aCreateCycle").addClass("active");
                $("#navAdmin").addClass("border-light");
                createValidation();

            }

            $('document').ready(setup);
        </script>
    </body>
</html>