<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<a class="navbar-brand btn btn-dark round-lg font-weight-bold pr-0 pl-0" href="aHome">Students' Speaker Initiative</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav d-flex justify-content-end w-100">
			<li class="nav-item dropdown mr-1 mb-1 mt-1">
					<a class="nav-link dropdown-toggle btn btn-primary text-white pt-1 pb-1" id="navAdmin" href="#" id="navbardrop" data-toggle="dropdown" style="border-width: 2px">
					Admin Pages
					</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" id="aHome" href="aHome">Home</a>
					<a class="dropdown-item" id="aCreateCycle" href="aCreateCycle">New Cycle</a>
					<a class="dropdown-item" id="aAdminLogs" href="aAdminLogs">Admin Logs</a>
				</div>
			</li>
			<li class="nav-item dropdown mr-1 mb-1 mt-1">
					<a class="nav-link dropdown-toggle btn btn-info text-white pt-1 pb-1" id="navSpeaker" href="#" id="navbardrop" data-toggle="dropdown" style="border-width: 2px">
					Speaker Info
					</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" id="aNoms" href="aNoms">View Nominations</a>
					<a class="dropdown-item" id="aVotes" href="aVotes">Check Standings</a>
					<a class="dropdown-item" id="aReports" href="aReports">Review Reports</a>
				</div>
			</li>
			<li class="nav-item dropdown mr-1 mb-1 mt-1">
				<a class="nav-link dropdown-toggle btn btn-success text-white pt-1 pb-1" id="navConvo" href="#" id="navbardrop" data-toggle="dropdown" style="border-width: 2px">
					Panel Info
				</a>
				<div class="dropdown-menu">
				<a class="dropdown-item" id="acNoms" href="acNoms">View Nominations</a>
				<a class="dropdown-item" id="acVotes" href="acVotes">Check Standings</a>
				</div>
			</li>
			<li class="nav-item mb-1 mt-1">
				<a class="nav-link font-weight-bold btn btn-light text-dark pt-1 pb-1" href="logout" style="border-width: 2px">Logout</a>
			</li>
		</ul>
	</div>
</nav>