<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand font-weight-bold" href="aHome">Students' Speaker Initiative</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav d-flex justify-content-end w-100">
			<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navSpeaker" href="#" id="navbardrop" data-toggle="dropdown">
					Speaker Information
					</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" id="aNoms" href="aNoms">View Nominations</a>
					<a class="dropdown-item" id="aVotes" href="aVotes">Check Standings</a>
					<a class="dropdown-item" id="aReports" href="aReports">Review Reports</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navConvo" href="#" id="navbardrop" data-toggle="dropdown">
					Conversation Information
				</a>
				<div class="dropdown-menu">
				<a class="dropdown-item" id="acNoms" href="acNoms">View Nominations</a>
				<a class="dropdown-item" id="acVotes" href="acVotes">Check Standings</a>
				<a class="dropdown-item" id="acReports" href="acReports">Review Reports</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="logout">Logout</a>
			</li>
		</ul>
	</div>
</nav>