<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>
    <body class="bg-light">
        {% include 'aHeader.html' %}
        <div class="container-fluid text-center">
        	<br><p class="lead font-weight-bold">Welcome to the admin homepage!</p> <hr>
            <br>
            <form action="reset_flask" method = "put">
                <input type="submit" class="btn btn-lg btn-primary" id="status" name="status" value= "Create a new cycle"><br>
            </form> <br>

            <div class="container bg-secondary rounded-lg text-left lead text-light">
                {% if exists == 0: %}
                <p class="font-weight-bold text-center">There is no current cycle.</p>
                {% else: %}
                <br><p class="font-weight-bold text-center">Information for cycle {{ cycle.getName() }}:</p>
                <p>Created on: {{cycle.getDateCreated()}} by {{ cycle.getAdmin()}}. <br>
                Students have {{ cycle.getNominateNum() }} nomination(s), {{ cycle.getEndorseNum()}} endorsement(s) and {{ cycle.getVoteNum() }} vote(s). <br>
                The endorsement threshold is {{ cycle.getThreshold() }}.<br>
                Nominations will begin on {{ cycle.getDateNom()}}. <br>
                Endorsements will begin on {{ cycle.getDateEndorse()}}.<br>
                Voting will begin on {{ cycle.getDateVoting()}}. <br>
                The end date of this cycle is {{ cycle.getDateEnd() }}. </p>
                {% endif %}
                <br>
            </div>
            <br>
            <div class="container rounded-lg text-light bg-secondary">
                <h4 class="font-weight-bold text-center">Add a new Admin:</h4>
                <div class=" form-group">
                    <form action='addAdmin' method='get'>
                        <input type="text" placeholder="Netid of Admin" class="form-control" name="newAdmin" id="newAdmin">
                    </form>
                    <center><input type="submit" class="btn btn-lg bg-primary text-light" value = "Add"></center>
                </div>
                <hr>
                <h4 class="font-weight-bold text-center">Remove an Admin:</h4>
                <form action='removeAdmin' method='get'>
                    <input type="text" placeholder="Netid of Admin" class="form-control" name="oldAdmin" id="oldAdmin">
                    <center><input type="submit" class="btn btn-lg bg-danger text-light" value = "Remove"></center>
                </form>

                <br>
                <br>
            </div>
        </div> 
    </body>
</html>