<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>
    <body class="bg-light">
        {% include 'aHeader.html' %}
        <div class="container text-center">
        	<br><h2 class="font-weight-bold">Welcome to the admin homepage!</h2>
            <br><hr><br>

            <div class="container bg-white rounded-lg text-center text-dark lead text-light" style="border: solid medium #F58025">
                <br>
                {% if validation['nominating'] or validation['endorsing'] or validation['voting'] or validation['end'] %}
                    <h2 class="font-italic">Information for Current Cycle: {{ cycle.getName() }}</h2>
                    <p class="font-italic">Created on: <strong>{{cycle.getDateCreated()}}</strong> by <strong>{{ cycle.getAdmin()}}</strong>.<hr>
                    Number of nominations: <strong>{{ cycle.getNominateNum() }}</strong>. <br>
                    Number of Endorsements: <strong>{{ cycle.getEndorseNum()}}</strong>.<br>
                    Number of Votes: <strong>{{ cycle.getVoteNum() }}</strong>. <br>
                    The endorsement threshold is <strong>{{ cycle.getThreshold() }}</strong>.<br>
                    The rollover threshold is <strong>NEED THIS IN CYCLE</strong>.<br>
                    Nomininating begins on <strong>{{ cycle.getDateNom()}}</strong>. <br>
                    Endorsing begins on <strong>{{ cycle.getDateEndorse()}}</strong>.<br>
                    Voting begins on <strong>{{ cycle.getDateVoting()}}</strong>. <br><hr>
                    <strong> This cycle ends on {{ cycle.getDateEnd() }}.</strong> </p>
                    <a type='button' class="btn btn-lg btn-primary text-light mb-4" href="aCreateCycle">Create a new cycle</a>
                {% else %}
                    <p class="lead font-weight-bold text-center">There is no current cycle.</p>
                {% endif %}
            </div>
            <br>
            <div class="row mx-auto">
                <div class="col-sm-6 rounded-lg text-dark bg-white" style="border: solid medium #F58025;">
                    <h4 class="font-weight-bold text-center">Add A New Admin:</h4><hr>
                    <form class="form-group" action='addAdmin' method='get'>
                        <input type="text" placeholder="Netid of Admin" class="form-control mb-4" name="newAdmin" id="newAdmin" required="">
                        <input type="submit" class="btn btn-lg bg-success text-light" value = "Add">
                    </form>
                </div>
                 <div class="col-sm-6 rounded-lg text-dark bg-white" style="border: solid medium #F58025;">
                    <h4 class="font-weight-bold text-center">Remove An Admin:</h4><hr>
                    <form class="form-group" action='removeAdmin' method='get'>
                        <select class="form-control mb-4" name="oldAdmin" id="oldAdmin" required>
                            <option value="" selected>Select an admin</option>
                            {% for admin in admins %}
                                <option value="{{admin[0]}}">{{admin[0]}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-lg bg-danger text-light" value = "Remove">
                    </form>
                </div>
            </div>
            <br><br>
        </div>
        <script>
            $(document.getElementById("aHome")).addClass("active");
            $(document.getElementById("navAdmin")).addClass("active");
        </script>
    </body>
</html>