<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet">
        <title>Student Speakers Initiative</title>
	</head>
    <body>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="aHome">Home</a>
            <a class="active" href="aNoms">Nominations</a>
            <a href="aVotes">Votes</a>
            <a href="aReports">Reports</a>
            <a href="logout">Logout</a>
        </div>
        <div class="header" id="myHeader">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          <a href="index" class="logo">Student Speakers Initiative</a>
          <a class="user"> Admin: {{username}} </a>
          </div>
        </div>
        <div class="main">
            {% if exists == 0: %}
                <p class="misc">There is no current cycle. Please start a cycle.</p>
            {% else: %}
                <p class="misc">These are the currently nominated speakers and their endorsement counts.</p>
                {% for speaker in speakers: %}
                <div class="nom">
                    <p> Name: {{speaker.getName()}} <br>
                    Description: {{speaker.getDescrip()}} <br>
                    Endorsement Count: {{speaker.getEndorsements()}}</p>
                </div>
                <br>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>