<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>
    <body class="bg-light">
        {% include 'aHeader.html' %}
        <div class="container-fluid">
            {% if exists == 0: %}
                <br><p class="lead text-center font-weight-bold">There is no current cycle. Please start a new cycle. </p>
            {% else: %}
                <br><p class="lead text-center font-weight-bold">These are the nominated speakers that have been flagged for additional review.
                You may either dismiss the report or accept the report (which deletes the speaker). </p> <hr>
                
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 text-center mx-auto justify-content-center">
                    {% for i in range(length): %}
                        <div class="col-auto mb-3">
                            <div class="card h-100" style="width: 18rem; border-width: thin; border-color: #F58025">
                                <div class="card-body">
                                    <h4 class="card-title">{{speakers[i].getName()}}</h4>
                                    <p class="card-text"> Report by: {{reports[i].getNetid()}}</p>
                                    <p class="card-text"> Reason for Report: {{reports[i].getReason()}}</p>
                                    <div class="form-control">
                                        <form action="dismiss_flag" method = "put">
                                            <input type="submit" class="btn btn-primary" id="status" name="dismiss" value="Dismiss">
                                            <input type="hidden" id="speakerid" name="speakerid" value={{reports[i].getSpeakid()}}>
                                        </form>
                                    </div>
                                    <div class="form-control">
                                        <form action="remove_nomination" method = "put">
                                            <input type="submit" class="btn btn-danger" id="status" name="remove" value="Remove">
                                            <input type="hidden" id="speakerid" name="speakerid" value={{reports[i].getSpeakid()}}>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            {% endif %}
        </div>
        <script type="text/javascript">
            $(document.getElementById("aReports")).addClass("active");
            $(document.getElementById("navSpeaker")).addClass("active");
        </script>
    </body>
</html>