<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>
    <body class="bg-light">
        {% include 'aHeader.html' %}
        <div class="container-fluid text-center">
            <br>
            {% if cycle.getName() %}
                {% if validation['nominating'] %}
                    {% if length == 0 %}
                        <hr><br><h3>There are currently no reports pending review.</h3><br><hr>
                    {% else %}
                        <h4>These are the nominated speakers that have been flagged for additional review.
                        You may either dismiss the report or accept the report. </h4>
                        <p class="font-italic"> Please note: Reports may only be reviewed during the nomination period, which ends on {{cycle.getDateNom().strftime('%b %d, %Y')}}. </p><hr>
                        <div class="row row-cols-2 text-center mx-auto justify-content-center">
                            {% for i in range(length): %}
                                {% if speakers[i]: %}
                                    <div class="col-auto mb-3">
                                        <div class="card h-100" style="width: 18rem; border-width: thin; border-color: #F58025">
                                            <div class="card-body">
                                                <h4 class="card-title">{{speakers[i].getName()}}</h4>
                                                <p class="card-text"> Report by: {{reports[i].getNetid()}}</p>
                                                <p class="card-text"> Reason for Report: {{reports[i].getReason()}}</p>
                                            </div>
                                            <div class="card-footer">
                                                 <form class="form-group dismissForm" action="dismiss_flag" method = "put">
                                                    <button class="form-control btn btn-success dismissButton" name="dismiss" data-toggle="tooltip" data-placement="top" title="If this report is dismissed, this speaker remains in the current cycle.">Dismiss
                                                    </button>
                                                    <input type="hidden" id="speakerid" name="speakerid" value={{reports[i].getSpeakid()}}>
                                                </form>
                                                <form class="form-group approveForm" action="remove_nomination" method = "put">
                                                    <button class="form-control btn btn-danger approveButton" id="status" name="remove"data-toggle="tooltip" data-placement="top" title="If this report is approved, this speaker is removed from the current cycle.">
                                                    Approve
                                                    </button>
                                                    <input type="hidden" id="speakerid" name="speakerid" value={{reports[i].getSpeakid()}}>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    </div><hr><br>
                    {% endif %}
                {% elif validation['endorsing'] or validation['voting'] or validation['results'] %}
                    <hr><br><h3> Nominations ended on {{cycle.getDateNom().strftime('%b %d, %Y')}}. You may no longer review reports for this cycle.</h3><br><hr>  
                {% else %}
                    <hr><br><h3> There is no current cycle. Please start a new cycle.</h3><br><hr>  
                {% endif %}
             {% else %}
                <hr><br><h3> There is no current cycle. Please start a new cycle.</h3><br><hr>  
            {% endif %}
        </div>
        <script type="text/javascript">
            function setup()
            {
                $(document.getElementById("aReports")).addClass("active");
                $(document.getElementById("navSpeaker")).addClass("border-light");
                $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'});
                $(".dismissForm").on("submit", function(e) {
                        $(".dismissButton").prop("disabled", true);
                        $(".approveButton").prop("disabled", true);
                          // add spinner to button
                        $(this).find(".dismissButton").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Dismissing...')
                })
                $(".approveForm").on("submit", function(e) {
                        $(".dismissButton").prop("disabled", true);
                        $(".approveButton").prop("disabled", true);
                          // add spinner to button
                        $(this).find(".approveButton").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Approving...')
                })
            }

            $('document').ready(setup);
        </script>
    </body>
</html>