<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet">
        <title>Student Speakers Initiative</title>
        <style>
        {% include 'sideformat.html' %}
        {% include 'mainformat.html'%}
        {% include 'navformat.html' %}
        </style>
    </head>
    <body>
        <div class="header">
          <a href="index" class="logo">Student Speakers Initiative</a>
          <div class="header-right">
            <a  href="aHome">Home</a>
            <a href="aNoms">Nominations</a>
            <a href="aVotes">Votes</a>
            <a class="active" href="aReports">Reports</a>
            <a href='logout' class="logout">Logout</a>
          </div>
        </div>
        </div>
            <div id="sidebar">
            <p>Admin: {{username}}</p>
            <p>((Endorsement)) is currently underway</p>
            <p>Current period ends on ((TBD))</p>
            <p>Current Admins</p>
            <p>((Add list of admins))</p>
        </div>
        <div class="main">
            <p>This is where we will display the reports that students have sent to the admin.
            The admin will be able to accept or reject any report and then must give a reason
            for his/her/their decision. </p>
            {% for report in reports: %}
            <div class="nom">
                <p class=text> Netid: {{report[0]}}<br>
                Speaker: {{database.getSpeakerFirstName(report[1])}} {{database.getSpeakerLastName(report[1])}} <br>
                Reason: {{report[2]}}<br><br>
                </p>
                <form action="dismiss_flag" method = "put">
                    <input type="submit" class="button" id="status" name="dismiss" value="Dismiss"><br>
                    <input type="hidden" id="speakerid" name="speakerid" value={{report[1]}}>
                </form>
            </div>
            {% endfor %}
        </div>
        {% include 'sidescript.html' %}
    </body>
</html>