<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
        <style>
          .card-img-top {
            width: 100%;
            height: 18rem;
            object-fit: cover;
          }
        </style>
    </head>
    <body class="bg-light">
        {% include 'aHeader.html' %}
        <div class="container-fluid text-center">
            <br>
            {% if cycle.getName() %}
                {% if validation['nominating'] or validation['endorsing'] %}
                    <hr><br><h3>The voting process hasn't started yet. Voting starts on {{cycle.getDateVoting().strftime('%b %d, %Y')}}. Please wait then to see the speakers' standings.</h3><br><hr>
                {% elif validation['voting'] or validation['results'] %}
                <h4>{% if validation['voting'] %} These are the current standings of the speakers in the voting block.
                            {% else %} These are the final standings of the speakers in the voting block.
                            {% endif %}</h4><hr>
                <div class="row row-cols-2 text-center mx-auto justify-content-center">
                  {%for speaker in speakers: %}
                    <div class="col-auto mb-3">
                        <div class="card h-100" style="width: 18rem; border-width: thin; border-color: #F58025">
                            <img data-src={{speaker.getImgLink()}} alt="" class="card-img-top cld-responsive">
                            <div class="card-body">
                                <h4 class="card-title">{{speaker.getName()}}</h4>
                                <p class="card-text"> Description: {{speaker.getDescrip()}}</p>
                                <p class="card-text"> Link: {{speaker.getLinks()}}</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text font-weight-bold"> Vote Count: {{speaker.getVotes()}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
              </div><hr><br>
              {% else %}
                    <hr><br><h3>There is no current cycle. Please start a cycle.</h3><br><hr>
                {% endif %}
            {% else: %}
                <hr><br><h3>There is no current cycle. Please start a cycle.</h3><br><hr>
            {% endif %} 
        </div>
        <script>
            function setup()
            {
                let cl = cloudinary.Cloudinary.new({  cloud_name: '<Cloud Name>' });
                cl.responsive();
                $("#aVotes").addClass("active");
                $("#navSpeaker").addClass("border-light");
            }

            $('document').ready(setup);
        </script>
    </body>
</html>