
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<title>Students' Speaker Initiative</title>
	</head>
	<body class="bg-light">
		{% include 'fHeader.html' %}
		<div class="container-fluid text-center">
			<br>
				{% if cycle.getName() %}
					{% if validation['nominating'] %}
						{% if hasapproved %}
							<hr><br><h3>You have already approved a conversation for this cycle. Please come back on {{cycle.getDateResults().strftime("%b %d, %Y")}} to see the results of this cycle.</h3><br><hr>
						{% else %}
							{% if conversations|length > 0 %}
								<h4>These are the current student-nominated conversations that have not yet been approved by a faculty member.<br> You have until {{cycle.getDateEndorse().strftime("%b %d, %Y")}} to approve one of these conversations.</h4><hr><br>
									{%for conversation in conversations: %}
										<div class="card text-center" style="border-width: 2px; border-color: #F58025">
											<div class="card-header"><h3 class="card-title text-center font-italic">Conversation between:</h3></div>
											<div class="card-body">
												<div class="row text-center mx-auto justify-content-center">
													{% for speaker in conversation.getSpeakers() %}
														<div class="col-auto mx-auto mb-3">
															<div class="card h-100" style="width: 18rem;">
																<div class="card-body">
																	<h4 class="card-title font-weight-bold" id="name">{{speaker[0]}}</h4>
																	<p class="card-text"> Descripition: {{speaker[1]}} </p>
																	<a class="card-link" href=" {{speaker[2]}}" target="_blank"> Link to Works/Biography</a>
																</div>
															</div>
														</div>
														{% endfor %}
												</div>
											</div>
											<div class="card-footer text-center font-weight-bolder custom-control custom-checkbox">
												<button type="button" class="approveButton btn btn-lg bg-primary font-weight-bold text-light" data-toggle="modal" data-conversationid="{{conversation.getConverseId()}}" data-target="#confirmModal" data-speakers="{{conversation.getNames()}}">
												Approve This Conversation</button>
											</div>
										</div>
										<br>
											 {% endfor %}
										<hr><br>
							{% else %}
								<hr><br><h3> There are no student-nominated conversations at this time!</h3><br><hr>
							{% endif %} 
						{% endif %}     
					{% elif validation['endorsing'] %}
							<hr><br><h3>You may not approve a conversation at this time because students are currently endorsing faculty-approved conversations.</h3><br><hr>
					{% elif validation['voting'] %}
						<hr><br><h3> You may not approve a conversation at this time because students are currently voting on faculty-approved conversations.</p><br><hr>
					{% elif validation['results'] %}
						<hr><br><h3>You may not approve a conversation at this time because voting has already ended for this cycle. The final results of the vote are now available!</h3>
						<br><a class="btn btn-lg btn-success font-weight-bold" href="fResults">View Results For This Cycle</a><br><br><hr>
					{% else %}
						<hr><br><h3> There is no current cycle. Please come back later to approved conversations!</h3><br><hr>
						
					{% endif %}

				{% else %}
					  <hr><br><h3>There is no current cycle. Please come back later.</h3><br><hr>
				{% endif %}
			</div>
		</div>

		<div class="modal" id="confirmModal">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
				  
					<div class="modal-header">
					  <h4 class="modal-title text-center">Confirm Approval</h4>
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					
					<div class="modal-body text-center">
					  <p class="font-weight-bold"> You are about to approve a conversation with: </p>
					  <p id="names" class="font-italic"></p>
				  	</div>
				  	<form action="fapprove_flask" method= "post" name= "approve_form" id="approve_form">
						<div class="modal-footer form-group justify-content-between">
							<input type="hidden" name="conversationid" id="conversationid">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel Approval</button>
							<button class="btn btn-primary" id="submitButton">Confirm Approval</button>
						</div>
					</form>
				</div>
			  </div>

		<script type="text/javascript">
			function approveValidation(){
				let cycleName = '{{cycle.getName()}}';
				if (cycleName != '') {
								//triggered when modal is about to be shown
					$(document).on("click", ".approveButton", function() {
						//get data-id attribute of the clicked element
						let conversationid = $(this).data('conversationid');
						let speakers = $(this).parent().parent().find('h4');
						names = $(speakers[0]).html();
						for (let i=1; i<speakers.length; i++) {
							names += "<br>" + $(speakers[i]).html();
						}
						$("p[id='names']").html(names);
						$("input[id='conversationid']").val(conversationid);
					});
				}
			}

			function navbarUpdate(){
                if ("{{validation['nominating']}}" == "True") {
                    $(document.getElementById("fApprove")).addClass("btn-success border-light font-weight-bold");
                    $(document.getElementById("fResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['endorsing']}}" == "True" || "{{validation['voting']}}" == "True") {
                    $(document.getElementById("fApprove")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("fResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['results']}}" == "True") {
                    $(document.getElementById("fApprove")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("fResults")).addClass("btn-success font-weight-bold");
                }
                else {
                    $(document.getElementById("fApprove")).addClass("btn-outline-light disabled");
                    $(document.getElementById("fResults")).addClass("btn-outline-light disabled");
                }
            }             

			function setup()
			 {
			 	$(document.getElementById("approve_form")).on("submit", function(){
	                    $(document.getElementById("submitButton")).prop("disabled", true);
	                    $(document.getElementById("submitButton")).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
	                })
				approveValidation();
				navbarUpdate()
			 }
			 
			$('document').ready(setup);
		</script>
	</body>
</html>