<!-- Landing Page-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
	</head>
	<body class='bg-light'>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <br><br><a class="navbar-brand font-weight-bold" href="#">Students' Speaker Initiative</a>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav d-flex justify-content-end w-100">
          <li class="nav-item">
            <a class="nav-link" href="#" style="padding-right: 30px;">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
      
    


    <div class="row">
      <div class="col-sm-6" style='padding-left: 100px;'>
        <br><br><br><h2>Bring the speaker you want to campus!</h2><br>
        <p>The Students' Speaker Initiative is a chance for undergraduates to elect the speakers they would most like to see on campus.
        This Initiative was created by Tyler Eddy ('21) to not only capture the drive students have to see a particular speaker, 
        but also ensure that even the smallest voices on campus can become empowered. We have proposed a ten-vote system 
        so that every student can quantify their desire to see a given speaker. In addition, votes  roll over between semesters 
        so that given enough time, even small groups of friends have the chance to host someone. Furthermore, through our Conversations
        component, students are able to pair two or more 
        speakers in order to create dialogues that don’t exist but which we truly need. Learning occurs through synthesis; lasting
        progress occurs through compromise. In order to encourage more transparency, all actions on behalf of the site's administrators are 
        displayed to all students. We believe the limitless possibilities of various conversations make the Student 
        Speaker Initiative a great asset to campus.</p>
      <br><br><br>
      </div>
      <div class="text-center col-sm-6" style='padding-top: 150px; padding-right:250px;'>
        <br><a type='button' class="btn btn-lg btn-outline-secondary" href="sHome" target="_blank">Student Portal</a>
        <br><br><a type='button' class="btn btn-lg btn-outline-secondary" href="aHome" target="_blank">Admin Portal</a>
        <br><br><br>
      </div>
	  </div>

    <!-- <div class="container-fluid text-center">
      <br><br><h3>About Us</h3>
      <div class="card-deck">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" data-src="https://en.wikipedia.org/wiki/Mickey_Mouse#/media/File:Mickey_Mouse.png">
        <div class="card-body">
          <p class="card-text">C. Vrattos - cs major. Interested in studying graphics and algorithms and cool computer science things. </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" data-src="https://en.wikipedia.org/wiki/Mickey_Mouse#/media/File:Mickey_Mouse.png">
        <div class="card-body">
          <p class="card-text">C. di Vittorio - cs major. Interested in studying graphics and algorithms and cool computer science things. </p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" data-src="https://en.wikipedia.org/wiki/Mickey_Mouse#/media/File:Mickey_Mouse.png">
        <div class="card-body">
          <p class="card-text">T. Johnson - cs major. Interested in studying graphics and algorithms and cool computer science things.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" data-src="https://en.wikipedia.org/wiki/Mickey_Mouse#/media/File:Mickey_Mouse.png">
        <div class="card-body">
          <p class="card-text">E. Torres - cs major. Interested in studying graphics and algorithms and cool computer science things.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" data-src="https://en.wikipedia.org/wiki/Mickey_Mouse#/media/File:Mickey_Mouse.png">
        <div class="card-body">
          <p class="card-text">L. Kim - cs major. Interested in studying graphics and algorithms and cool computer science things.</p>
        </div>
      </div>
    </div>
	</div> -->

    <!-- <br><br><br><br><br><br>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <br><br>
		<a class="navbar-brand">Created by TJ, LK, EP, CD, CV</a>
    </nav> -->
	</body>
</html>
