.header {
  z-index: 5;
  overflow: hidden;
  background-color: #b3b3b3;
  padding: 15px 15px;
  font-family: "Arial Black", Gadget, sans-serif;
  border-bottom-style: double;
  border-top-style: double;
  border-color: whitesmoke;
  border-width: 15px;
  top: 0px;
}

.header a {
  float: left;
  color: #170b02;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 20px 1px 20px 20px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: #F58025;
  border-radius: 20px 20px 20px 1px;
}

.header a.logout{
  background-color: white;
  color: #170b02;
}
.header a:hover {
  background-color: #F58025;
  color: white;
}

.header a.active {
  background-color: #F58025;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
