<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>

    <body class="bg-light">
        <body class="bg-light">
            {% include 'sHeader.html' %}

        <div class="row">

            <div class="container-fluid col-md-6" style="padding-left: 70px;">
                <br>
                <h3>Admin Log</h3>
                {%for row in info: %}
                    <span>{{row[0]}}: </span>
                    <span>{{row[1]}}</span>

                    {%if row[2]|int() == 0|int(): %}
                        <span>added admin with id</span>
                        <span>{{row[3]}}</span>
                    {% endif %}
                    {%if row[2]|int() == 1|int(): %}
                        <span>removed admin with id</span>
                        <span>{{row[3]}} </span>
                    {% endif %}
                    {%if row[2]|int() == 2|int(): %}
                        <span>created new cycle</span>
                        <span>to be ended on {{row[3]}}</span>
                    {% endif %}
                    {%if row[2]|int() == 3|int(): %}
                        <span>dismissed request of review</span>
                        <span>for speaker {{row[3]}}</span>
                    {% endif %}
                    {%if row[2]|int() == 4|int(): %}
                        <span>accepted request for review</span>
                        <span>of speaker {{row[3]}}</span>
                    {% endif %}
                    <br>
                {% endfor %}
                <br>
                <br>
            </div>

            <div class="container-fluid col-md-6 text-center">
                <br>
                <h3>Current Admins</h3>
                {%for admin in admins: %}
                    <span>{{admin[0]}}</span>
                    <br>
                {% endfor %}
            </div>
        </div>

    </body>




</html>