<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>

    <body class="bg-light" style="height:75vh;">
        {% include 'sHeader.html' %}
        <div class="container-fluid h-100">
            <div class="row h-100 mx-auto my-auto">
                <div class="col-sm-8 h-100 mx-auto mb-4">
                    <br><br>
                    <div class="bg-white h-100 overflow-auto p-4" style="border: solid medium #F58025;">
                        <h3 class="text-center">Admin Log</h3><hr>
                        <div class="justify-content-center mx-auto text-center">
                                <input type="search" class="form-control-lg"style="border-style: solid; border-color: #5cb85c" id="searchBar" placeholder="Search admin" value="">
                        </div><br>
                        <div id="resultsSpan">
                        <!-- {%for row in info: %}
                            <p class="lead">{{row[0]}}: {{row[1]}}
                            {%if row[2]|int() == 0|int(): %}
                                added admin with id {{row[3]}}
                            {%elif row[2]|int() == 1|int(): %}
                                removed admin with id
                                {{row[3]}}
                            {%elif row[2]|int() == 2|int(): %}
                                created new cycle
                                to be ended on {{row[3]}}
                            {%elif row[2]|int() == 3|int(): %}
                                dismissed request of review
                                for speaker {{row[3]}}
                            {%elif row[2]|int() == 4|int(): %}
                                accepted a report and removed
                                the speaker {{row[3]}}
                            {% endif %}
                            </p>
                        {% endfor %} -->
                    </div>
                </div>
                <div class="col-sm-4 h-100 mx-auto">
                    <br><br>
                    <div class="bg-white overflow-auto mx-auto h-100 p-4 text-center" style="border: solid medium #F58025;">
                        <br>
                        <h3>Current Admins</h3><hr>
                        {%for admin in admins: %}
                            <p class="lead m-0">{{admin[0]}}</p>
                        {% endfor %}
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <script>
            $(document.getElementById("sAdminLogs")).addClass("active");
        </script>
        <script type="text/javascript">
        function handleResponse(response)
        { 
            $('#resultsSpan').html(response);
        }
         
        let request = null;
                       
        function getResults()
        {  
           let search = $('#searchBar').val();
           search = encodeURIComponent(search);
           let url = '/adminsearch?name=' + search;
           if (request != null)
              request.abort();
           request = $.ajax(
           {
                type: "GET",
                url: url,
                success: handleResponse
            });
         }

        function setup()
        {
            $('#searchBar').focus();
            $('#searchBar').on('input', getResults);
            // $(document.getElementById("sAdminLogs")).addClass("active");
            getResults();
            endorseValidation();
        }
        $('document').ready(setup);  
        </script>
    </body>




</html>