<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
    </head>

    <body class="bg-light" style="height:75vh;">
        {% include 'sHeader.html' %}
        <div class="container-fluid h-100">
            <div class="row h-100 mx-auto my-auto">
                <div class="col-sm-8 h-100 mx-auto mb-4">
                    <br><br>
                    <div class="bg-white h-100 overflow-auto p-4" style="border: solid medium #F58025;">
                        <h3 class="text-center">Admin Log</h3><hr>
                        <select class="form-control font-weight-bold col-sm-6 mb-2 mx-auto" name="select" id="select">
                            <option value="" selected>Select An Admin To Search Logs</option>
                            <option value="">All Admins</option>
                            {% for admin in admins %}
                                <option value="{{admin[0]}}">{{admin[0]}}</option>
                            {% endfor %}
                        </select>
                        <div id="resultsSpan">
                        <!-- This is where the admin logs will go -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 h-100 mx-auto">
                    <br><br>
                    <div class="bg-white overflow-auto mx-auto h-100 p-4 text-center" style="border: solid medium #F58025;">
                        <br>
                        <h3>Current Admins</h3><hr>
                        {%for admin in admins: %}
                            <p class="lead m-0">{{admin[0]}}</p>
                        {% endfor %}
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        function handleResponse(response)
        { 
            $('#resultsSpan').html(response);
        }
         
        let request = null;
                       
        function getResults()
        {  
           let search = $("#select option:selected").val();;
           search = encodeURIComponent(search);
           let url = '/adminsearch?name=' + search;
           if (request != null)
              request.abort();
           request = $.ajax(
           {
                type: "GET",
                url: url,
                success: handleResponse
            });
         }

        function navbarUpdate(){
                if ("{{validation['nominating']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-success font-weight-bold");
                    $(document.getElementById("navEndorse")).addClass("btn-info font-weight-bold");
                    $(document.getElementById("navVote")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['endorsing']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-success font-weight-bold");
                    $(document.getElementById("navVote")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['voting']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navVote")).addClass("btn-success font-weight-bold");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['results']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navVote")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navResults")).addClass("btn-success font-weight-bold");
                }
                else {
                    $(document.getElementById("navNom")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navVote")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
            }

        function setup()
        {
            navbarUpdate();
            
            $('#select').focus();
            $('#select').on('change', getResults);
            getResults();
        }
        $('document').ready(setup);  
        </script>
    </body>
</html>