
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<title>Students' Speaker Initiative</title>
	</head>
	<body class="bg-light">
		{% include 'sHeader.html' %}
		<div class="container-fluid text-center">
				<br>
				{% if cycle.getName() %}
					{% if validation['nominating'] %}
        				{% if conversations|length > 0 %}
    						<h4>These are the current nominations that have been faculty-approved. On {{ cycle.getDateEndorse().strftime("%b %d, %Y") }}, you will be able to endorse them. </h4><hr>
    							{%for conversation in conversations: %}
    								<div class="card text-center" style="border-width: medium; border-color: #F58025">
    									<div class="card-header">
    										<h3 class="card-title text-center font-italic">Conversation between:</h3>
    									</div>
    									<div class="card-body">
    										<div class="row text-center mx-auto justify-content-center">
    										{% for speaker in conversation.getSpeakers() %}
    											<div class="col-auto mb-3">
    												<div class="card mx-auto h-100" style="width: 18rem;">
    													<div class="card-body">
    														<h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
    														<p class="card-text"> Descripition: {{speaker[1]}} </p>
    														<a class="card-link" href=" {{speaker[2]}}" target="_blank"> Link to Works/Biography</a>
    													</div>
    												</div>
    											</div>
    											{% endfor %}
    										</div>
    									</div>
    								</div>
    								<br>    
    								{% endfor %}
    								<hr><br>
    					{% else %}
                            <hr><br><h3> There are no student-nominated, faculty-approved conversations at this time!</h3><br><hr>
                        {% endif %}		
					
					{% elif validation['endorsing'] %}
						{% if hasendorsed %}
							<hr><br><h3>Thank you for your endorsements. Please come back later on {{ cycle.getDateVoting().strftime("%b %d, %Y") }} to vote.</h3><br><hr>
						{% elif conversations|length > 0 %}
							<h4>These are the current nominations for endorsements. You have {{ cycle.getEndorseNum() }} endorsements. You can use these at any time during the endorsement period. The endorsement period ends when the voting period begins, on {{ cycle.getDateVoting()}}. </h4><hr>
								{%for conversation in conversations: %}
									<div class="card text-center" style="border-width: 2px; border-color: #F58025">
										<div class="card-header"><h3 class="card-title text-center font-italic">Conversation between:</h3></div>
										<div class="card-body">
											<div class="row text-center mx-auto justify-content-center">
												{% for speaker in conversation.getSpeakers() %}
													<div class="col-auto mx-auto mb-3">
														<div class="card h-100" style="width: 18rem;">
															<div class="card-body">
																<h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
																<p class="card-text"> Descripition: {{speaker[1]}} </p>
																<a class="card-link" href=" {{speaker[2]}}" target="_blank"> Link to Works/Biography</a>
															</div>
														</div>
													</div>
													{% endfor %}
											</div>
											<p class="card-text font-italic"> This conversation has {{conversation.getEndorsements()}} endorsement(s).</p>
										</div>
										<div class="card-footer text-center font-weight-bolder custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="check" id={{conversation.getConverseId()}} value={{conversation.getConverseId()}}>
											<label class="custom-control-label" for={{conversation.getConverseId()}}>Endorse</label>
										 </div>
									</div><br>
										 {% endfor %}
									<hr><br>
                                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
                                        <button type="button" class="endorseButton btn bg-primary text-light font-weight-bold" data-target="#confirmModal">Submit Endorsements</button>
                                    </nav>
                            <br><br>
						{% elif conversations|length <= 0  %}
							<hr><br><h4> Unfortunately, no panels made it into the endorsement block. Please come back later to participate in selecting a conversation panel for our campus.</h4><br><hr>
						{% endif %}
								
					{% elif validation['voting'] %}
                        <hr><br><h3> Endorsements are now closed. Please vote.</h3><br><hr>
                    {% else %}
                        <hr><br><h3>Endorsements are closed. Please come back later to participate in selecting a conversation panel for our campus.</h3><br><hr>
                    {% endif %}
                {% else %}
                      <hr><br><h3>Endorsements are closed. Please come back later to participate in selecting a conversation panel for our campus.</h3><br><hr>
                {% endif %}
			</div>

		<div class="modal" id="confirmModal">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
	               	<div class="modal-header">
	                   	<h4 class="modal-title text-center">Confirm Endorsements</h4>
	                   	<button type="button" class="close closeModal">&times;</button>
	                </div>
	                <div class="modal-body text-center">
	                    <p class="font-weight-bold"> You have selected the following conversations: </p>
	                    <p id="names" class="font-italic">
	                    </p>
	                </div>
	                <form action="ccendorse_flask" method= "post" name="ccendorse_form" id="ccendorse_form">
	                    <div class="modal-footer form-group justify-content-between">
	                        <input type="hidden" name="list" id="list">
	                        <button type="button" class="btn btn-danger closeModal">Cancel Submission</button>
	                        <button type="button" class="submit btn btn-primary" name="submitEndorse">Confirm Submission</button>
	                    </div>
	                </form>
            	</div>
            </div>
        </div>
        </div>
        <div class="modal" id="errorModal">
	        <div class="modal-dialog modal-dialog-scrollable">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h3 class="modal-title">Error</h3>
	                    <button type="button" class="close closeModal">&times;</button>
	                </div>
	                <div class="modal-body text-center">
	                    <p id="error" class="lead"></p>
	                </div>
	                <div class="modal-footer">
	                        <button type="button" class="btn btn-danger mx-auto closeModal">Dismiss This Message</button>
	                </div>
	            </div>
	        </div>
    	</div>

		<script type="text/javascript">
			let checkList = [];
			function endorseValidation(){
				$(document).on("click", ".closeModal", function() {
						$('.modal').modal('hide');
				})

				$(document).on("click", ".submit", function(e) {
						if (Object.keys(checkList).length==0){
							$('#errorModal').modal("show");
	                        $("p[id='error']").html("You have not endorsed any conversations.");
							return false;
						}
						else {
							$('#confirmModal').data('bs.modal')._config.backdrop = 'static'
							$('#confirmModal').data('bs.modal')._config.keyboard = 'static'
							$('.closeModal').prop("disabled", true)

					      	$(this).prop("disabled", true);
					      	$(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
					      	$("#ccendorse_form").submit();
						}

				});
				let cycleName = '{{cycle.getName()}}';
				if (cycleName != '') {
					if ($("#ccendorse_form")) {
						let checkgroup = document.getElementsByName("check");
						$(document).on("click", ".endorseButton", function(e) {
		                    if (Object.keys(checkList).length==0){
		                        $('#errorModal').modal("show");
	                        	$("p[id='error']").html("You have not endorsed any conversations.");
		                    }
		                    else {
		                        $('#confirmModal').modal("show")
		                        let idsArray = Object.keys(checkList);
		                        let namesArray = Object.values(checkList);
		                        names = namesArray[0]
		                        for (let i=1; i<namesArray.length; i++){
		                            names += "<br>" + namesArray[i];
		                        }

		                        $("p[id='names']").html(names);
		                        $("input[id='list']").val(idsArray);
		                    }

		                });

			            for (let i=0; i<checkgroup.length; i++){
				              $(checkgroup[i]).on("click", function(){

			                    let conversationid = this.id
			                    let speakers = $(this).parent().parent().find('h4');
			                    if (!this.checked) {
			                        delete checkList[conversationid];
			                    }
			                    else {
			                    	let names = "Conversation: " + $(speakers[0]).html();
						            for (let i=1; i<speakers.length; i++) {
						                names += ", " + $(speakers[i]).html();
						            }
			                        let limit='{{cycle.getEndorseNum()}}';
			                        if (limit == 'unlimited')
			                            checkList[conversationid]=names;
			                        else{
			                            if (Object.keys(checkList).length>=limit){
			                                $('#errorModal').modal("show");
	                        				$("p[id='error']").html("You can only endorse a maximum of "+limit+" candidate(s).");
			                                this.checked=false;
			                            }
			                            else {
			                            	checkList[conversationid]=names;
			                            }
			                        }
			                    }
			                });  
			            }
					}
				}
			}                       

			function navbarUpdate(){
                if ("{{validation['nominating']}}" == "True") {
                    $("#navNom").addClass("btn-success font-weight-bold");
                    $("#navEndorse").addClass("btn-info font-weight-bold");
                    $("#navVote").addClass("btn-outline-light disabled");
                    $("#navResults").addClass("btn-outline-light disabled");
                }
                else if ("{{validation['endorsing']}}" == "True") {
                    $("#navNom").addClass("btn-outline-danger disabled");
                    $("#navEndorse").addClass("btn-success border-light font-weight-bold");
                    $("#navVote").addClass("btn-outline-light disabled");
                    $("#navResults").addClass("btn-outline-light disabled");
                }
                else if ("{{validation['voting']}}" == "True") {
                    $("#navNom").addClass("btn-outline-danger disabled");
                    $("#navEndorse").addClass("btn-outline-danger disabled");
                    $("#navVote").addClass("btn-success font-weight-bold");
                    $("#navResults").addClass("btn-outline-light disabled");
                }
                else if ("{{validation['results']}}" == "True") {
                    $("#navNom").addClass("btn-outline-danger disabled");
                    $("#navEndorse").addClass("btn-outline-danger disabled");
                    $("#navVote").addClass("btn-outline-danger disabled");
                    $("#navResults").addClass("btn-success font-weight-bold");
                }
                else {
                    $("#navNom").addClass("btn-outline-light disabled");
                    $("#navEndorse").addClass("btn-outline-light disabled");
                    $("#navVote").addClass("btn-outline-light disabled");
                    $("#navResults").addClass("btn-outline-light disabled");
                }
            }

	        function setup()
	         {
	            $("#scEndorse").addClass("active");
				navbarUpdate();
				
	            endorseValidation();
	         }
	         
	        $('document').ready(setup);
		</script>
	</body>
</html>