
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
		<link href="./static/styles.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<title>Students' Speaker Initiative</title>
	</head>
	<body class="bg-light">
		{% include 'sHeader.html' %}
		<div class="container-fluid text-center">
				<br>
				{% if cycle.getName() %}
					{% if validation['nominating'] %}
        				{% if conversations|length > 0 %}
    						<h4>These are the current nominations. On {{ cycle.getDateEndorse()}}, you will be able to endorse them. </h4><hr>
    							{%for conversation in conversations: %}
    								<div class="card text-center" style="border-width: medium; border-color: #F58025">
    									<div class="card-header">
    										<h3 class="card-title text-center font-italic">Conversation between:</h3>
    									</div>
    									<div class="card-body">
    										<div class="row text-center mx-auto justify-content-center">
    										{% for speaker in conversation.getSpeakers() %}
    											<div class="col-auto mb-3">
    												<div class="card mx-auto h-100" style="width: 18rem;">
    													<div class="card-body">
    														<h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
    														<p class="card-text"> Descripition: {{speaker[1]}} </p>
    														<a class="card-link" href=" {{speaker[2]}}" target="_blank"> Link to Works/Biography</a>
    													</div>
    												</div>
    											</div>
    											{% endfor %}
    										</div>
    									</div>
    								</div>
    								<br>    
    								{% endfor %}
    								<hr><br>
    					{% else %}
                            <hr><br><h3> There are no student-nominated, faculty-promoted conversations at this time!</h3><br><hr>
                        {% endif %}		
					
					{% elif validation['endorsing'] %}
						{% if hasendorsed %}
							<hr><br><h3>Thank you for your endorsements. Please come back later on {{ cycle.getDateVoting()}} to vote.</h3><br><hr>
						{% elif conversations|length > 0 %}
							<h4>These are the current nominations for endorsements. You have {{ cycle.getEndorseNum() }} endorsements. You can use these at any time during the endorsement period. The endorsement period ends when the voting period begins, on {{ cycle.getDateVoting()}}. </h4><hr>
								{%for conversation in conversations: %}
									<div class="card text-center" style="border-width: 2px; border-color: #F58025">
										<div class="card-header"><h3 class="card-title text-center font-italic">Conversation between:</h3></div>
										<div class="card-body">
											<div class="row text-center mx-auto justify-content-center">
												{% for speaker in conversation.getSpeakers() %}
													<div class="col-auto mx-auto mb-3">
														<div class="card h-100" style="width: 18rem;">
															<div class="card-body">
																<h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
																<p class="card-text"> Descripition: {{speaker[1]}} </p>
																<a class="card-link" href=" {{speaker[2]}}" target="_blank"> Link to Works/Biography</a>
															</div>
														</div>
													</div>
													{% endfor %}
											</div>
											<p class="card-text font-italic"> This conversation has {{conversation.getEndorsements()}} endorsement(s).</p>
										</div>
										<div class="card-footer text-center font-weight-bolder custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="check" id={{conversation.getConverseId()}} value={{conversation.getConverseId()}}>
											<label class="custom-control-label" for={{conversation.getConverseId()}}>Endorse</label>
										 </div>
									</div><br>
										 {% endfor %}
									<hr><br>
                                    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
                                        <button type="button" class="endorseButton btn bg-primary text-light font-weight-bold" data-target="#confirmModal">Submit Endorsements</button>
                                    </nav>
                            <br><hr><br>
						{% elif conversations|length <= 0  %}
							<hr><br><h4> Unfortunately, no panels made it into the endorsement block. Please come back later to participate in selecting a conversation panel for our campus.</h4><br><hr>
						{% endif %}
								
					{% elif validation['voting'] %}
                        <hr><br><h3> Endorsements are now closed. Please vote.</h3><br><hr>
                    {% else %}
                        <hr><br><h3>Endorsements are closed. Please come back later to participate in selecting a conversation panel for our campus.</h3><br><hr>
                    {% endif %}
                {% else %}
                      <hr><br><h3>Endorsements are closed. Please come back later to participate in selecting a conversation panel for our campus.</h3><br><hr>
                {% endif %}
			</div>

			<div class="modal" id="confirmModal">
                <div class="modal-dialog modal-dialog-scrollable">
                  	<div class="modal-content">
                  
                    	<!-- Modal Header -->
	                    <div class="modal-header">
	                      <h4 class="modal-title text-center">Confirm Endorsements</h4>
	                      <button type="button" class="close" data-dismiss="modal">&times;</button>
	                    </div>
	                    
	                    <!-- Modal body -->
	                    <div class="modal-body text-center">
	                      <p class="font-weight-bold"> You have selected the following conversations: </p>
	                      <p id="names" class="font-italic">
	                      </p>
	                  </div>
	                  <form action="ccendorse_flask" method= "post" name="ccendorse_form" id="ccendorse_form">
	                        <div class="modal-footer form-group justify-content-between">
	                            <input type="hidden" name="list" id="list">
	                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel Submission</button>
	                            <button type="button" class="submit btn btn-primary" name="submitEndorse">Confirm Submission</button>
	                        </div>
	                    </form>
                	</div>
              	</div>
          	</div>

		<script type="text/javascript">

		function endorseValidation(){
			
			$(document).on("click", ".submit", function(e) {
					if (Object.keys(checkList).length==0){
						alert("You have not endorsed any conversations.");
						return false;
					}
					else {
						// disable button
				      $(this).prop("disabled", true);
				      // add spinner to button
				      $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
				      document.getElementById("ccendorse_form").submit();
					}

			});




			let checkList = [];
			let cycleName = '{{cycle.getName()}}';
			if (cycleName != '') {
							//triggered when modal is about to be shown
				let endorseForm = document.getElementById("ccendorse_form");
				if (endorseForm) {
					let checkgroup = document.getElementsByName("check");
					// $(endorseForm).submit(function(event) {
					// 	let checkedcount=0;
					// 	for (let i=0; i<checkgroup.length; i++)
					// 		checkedcount+=(checkgroup[i].checked)? 1 : 0;
					// 	if (checkedcount==0){
					// 		alert("You have not endorsed any conversations.");
					// 		event.preventDefault();
					// 	}
					// });

					$(document).on("click", ".endorseButton", function(e) {
	                    if (Object.keys(checkList).length==0){
	                        alert("You have not endorsed any conversations.");
	                    }
	                    else {
	                        $('#confirmModal').modal("show")
	                        let idsArray = Object.keys(checkList);
	                        let namesArray = Object.values(checkList);
	                        names = namesArray[0]
	                        for (let i=1; i<namesArray.length; i++){
	                            names += "<br>" + namesArray[i];
	                        }

	                        $("p[id='names']").html(names);
	                        $("input[id='list']").val(idsArray);
	                    }

	                });

		            for (let i=0; i<checkgroup.length; i++){
			              $(checkgroup[i]).on("click", function(){

		                    let conversationid = this.id
		                    let speakers = $(this).parent().parent().find('h4');
		                    if (!this.checked) {
		                        delete checkList[conversationid];
		                    }
		                    else {
		                    	let names = "Conversation: " + $(speakers[0]).html();
					            for (let i=1; i<speakers.length; i++) {
					                names += ", " + $(speakers[i]).html();
					            }
		                        let limit='{{cycle.getEndorseNum()}}';
		                        if (limit == 'unlimited')
		                            checkList[conversationid]=names;
		                        else{
		                            if (Object.keys(checkList).length>=limit){
		                                alert("You can only endorse a maximum of "+limit+" candidate(s).");
		                                this.checked=false;
		                            }
		                            else {
		                            	checkList[conversationid]=names;
		                            }
		                        }
		                    }
		                });  
		            }

					let limit='{{cycle.getEndorseNum()}}';
					if (limit != 'unlimited'){
						for (let i=0; i<checkgroup.length; i++){
							checkgroup[i].onclick=function(){
							let checkedcount=0
							for (let i=0; i<checkgroup.length; i++)
								checkedcount+=(checkgroup[i].checked)? 1 : 0;
							if (checkedcount>limit){
								alert("You can only endorse a maximum of "+limit+" conversation(s).")
								this.checked=false
								}
							}
						};
					}
				}
			}
		}                       

        function handleResponse(response)
         { 
        	$('#ccendorse_form').html(response);
        }
         
        let request = null;
                       
        function getResults()
        {    
           let search = $('#searchBar').val();
            
           let url = '/ccsearch?name=' + search;
           if (request != null)
              request.abort();
           request = $.ajax(
           {
        	    type: "GET",
                url: url,
                success: handleResponse
            });
         }

        function setup()
         {
            $('#searchBar').focus();
            $(document.getElementById("scEndorse")).addClass("active");
			$(document.getElementById("navConvo")).addClass("active");
            getResults();
            endorseValidation();
         }
         
        $('document').ready(setup);
		</script>
	</body>
</html>