
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
	</head>
    <body class="bg-light">
        {% include 'sHeader.html' %}
        <div class="container-fluid">
                {% if cycle.getName() %}
                    {% if validation['voting'] %}
                        <br><p class="lead text-center font-weight-bold"> Endorsements are now closed. Please vote.</p>
                    {% elif validation['nominating'] %}
                        <br><p class="lead text-center font-weight-bold">These are the current nominations. On {{ cycle.getDateEndorse()}}, you will be able to endorse them. </p><hr>
                            {%for conversation in conversations: %}
                                <div class="container">
                                    <div class="card text-center" style="border-width: medium; border-color: #F58025">
                                        <div class="card-header">
                                            <button type="button" class="reportButton float-right btn btn-sm bg-danger text-light" data-toggle="modal" data-speakid={{conversation.getConverseId()}} data-target="#reportModal">
                                            Report</button>
                                            <h3 class="card-title text-center font-italic">Conversation between:</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 text-center justify-content-around">
                                            {% for speaker in conversation.getSpeakers() %}
                                                <div class="col-auto mb-3">
                                                    <div class="card h-100" style="width: 18rem;">
                                                        <div class="card-body">
                                                            <h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
                                                            <p class="card-text"> Descripition: {{speaker[1]}} </p>
                                                            <a class="card-link" href=" {{speaker[2]}}"> Link to Works/Biography</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>        
                                {% endfor %}
                                <hr><br>
                                
                    {% else %}
                        {% if hasendorsed %}
                            <br><p class="lead text-center font-weight-bold">Thank you for your endorsements. Please come back later on {{ cycle.getDateVoting()}} to vote.</p>
                        {% else %}
                            <br><p class="lead text-center font-weight-bold">These are the current nominations for endorsements. You have {{ cycle.getEndorseNum() }} endorsements. You can use these at any time during the endorsement period. The endorsement period ends when the voting period begins, on {{ cycle.getDateVoting()}}. </p><hr>
                            <form action="ccendorse_flask" method= "post" name= "ccendorse_form" id="ccendorse_form">
                                {%for conversation in conversations: %}
                                <div class="container">
                                    <div class="card text-center" style="border-width: medium; border-color: #F58025">
                                        <div class="card-header"><h3 class="card-title text-center font-italic">Conversation between:</h3></div>
                                        <div class="card-body">
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 text-center justify-content-around">
                                                {% for speaker in conversation.getSpeakers() %}
                                                    <div class="col-auto mb-3">
                                                        <div class="card h-100" style="width: 18rem;">
                                                            <div class="card-body">
                                                                <h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
                                                                <p class="card-text"> Descripition: {{speaker[1]}} </p>
                                                                <a class="card-link" href=" {{speaker[2]}}"> Link to Works/Biography</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                            <p class="card-text font-italic"> This conversation has {{conversation.getEndorsements()}} endorsement(s).</p>
                                            <div class="card-footer text-center font-weight-bolder custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" name="check" id={{conversation.getConverseId()}} value={{conversation.getConverseId()}}>
                                                <label class="custom-control-label" for={{conversation.getConverseId()}}>Endorse</label>
                                            </div>
                                        </div>
                                    </div>
                                            <br>
                                         {% endfor %}
                                         <br>
                                         {% if conversations|length > 0 %}
                                         <input type="submit" class="btn btn-primary" id="status" name="submit" style="display: block; margin: 0 auto;" value="Submit Endorsements">
                                         {% else %}
                                         <p class="lead text-center font-weight-bold"> There are no conversations to endorse!</p><br>
                                         {% endif %}
                                    </form>
                                <br><hr><br>
                        {% endif %}
                        
                    {% endif %}
                {% else %}
                      <br><p class="lead text-center font-weight-bold">There is no current cycle. Please come back later.</p>
                {% endif %}
            </div>


            <div class="modal" id="reportModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Report This Conversation</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                      Please give a reason for why you would like to flag this conversation for admin review.<br><br>
                      <form action="flag_flask" method = "put">
                            <div class="form-group">
                            <input type="hidden" name="coversationid" value="" id="conversationid">
                            <input type="text" placeholder="Reason for Report" class="form-control" id="reason" name="reason">
                            <br>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="submitButton btn btn-primary" name="flag"> 
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <script type="text/javascript">
            $(document.getElementById("scEndorse")).addClass("active");
            $(document.getElementById("navConvo")).addClass("active");

            let cycleName = '{{cycle.getName()}}';
            if (cycleName != '') {
                            //triggered when modal is about to be shown
                $(document).on("click", ".reportButton", function() {
                    //get data-id attribute of the clicked element
                    var conversationid = $(this).data('conversationid');
                    $(".modal-body #reportSpeaker").val(conversationid);
                });
                let endorseForm = document.getElementById("ccendorse_form");
                if (endorseForm) {
                    let checkgroup = document.getElementById("ccendorse_form").elements.namedItem("check");
                    $(endorseForm).submit(function(event) {
                        
                        let checkedcount=0;
                        for (let i=0; i<checkgroup.length; i++)
                            checkedcount+=(checkgroup[i].checked)? 1 : 0;
                        if (checkedcount==0){
                            alert("You have not endorsed any conversations.");
                            event.preventDefault();
                        }
                    });

                    let limit='{{cycle.getEndorseNum()}}';
                    if (limit != 'unlimited'){
                    for (let i=0; i<checkgroup.length; i++){
                        checkgroup[i].onclick=function(){
                        let checkedcount=0
                        for (let i=0; i<checkgroup.length; i++)
                            checkedcount+=(checkgroup[i].checked)? 1 : 0;
                        if (checkedcount>limit){
                            alert("You can only endorse a maximum of "+limit+" conversation(s).")
                            this.checked=false
                            }
                        }
                    };
                }
            }
        </script>
    </body>
</html>