<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet">
        <title>Students' Speaker Initiative</title>
	</head>
    <body>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="sHome">Home</a>
            <a href="sNom">Nominate</a>
            <a href="sEndorse">Endorse</a>
            <a href="sVote">Vote</a>
            <a class="active" href="scNom">CCNominate</a>
            <a href="scEndorse">CCEndorse</a>
            <a href="scVote">CCVote</a>
            <a href='logout' class="logout">Logout</a>
        </div>
        <div class="header" id="myHeader">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          <a href="index" class="logo">Students' Speaker Initiative</a>
          <a class="user"> Student: {{username}} </a>
        </div>
        <div class="main">
        {% if not cycle %}
            <p class="misc">There is no current cycle. Please come back later. </p>
        {% else %}
            {% if validation['voting'] %}
                <p class="misc"> Nominations are now closed. Please vote.</p>
            {% elif validation['endorsing']%}                
                 <p class="misc"> Nominations are now closed. Please endorse.</p>
            {% else %}    
                 {% if remaining %}
                    <p class="misc">This is your opportunity to nominate a conversation that you would like to create on our campus;
                        fill out the fields below and press submit to nominate a conversation!
                        You can nominate {{cycle.getNominateNum()}} conversation(s); you have {{ remaining }} nomination(s) left.
                        Nominations are not retractable and you cannot endorse a conversation that you have nominated.  </p>
                        <!--form-->
                    <form action="ccnominate_flask" method = "post" enctype="multipart/form-data">
                        <div class="nom">
                        	<p class= "error">{{errorMsg}}</p>
                            <label for="name1">First Speaker:</label>
                            <input type="text" class="textfield" id="name1" name="name1" value= {{name1}}>
                            <br><br>
                            <label for="descrip1">Description:</label>
                            <input class="textfield" type="text" id="descrip1" name="descrip1" value= {{descrip1}}>
                            <br><br>
                            <label for="links1">Link to works:</label>
                            <input type="text" class="textfield" id="links1" name="links1" value= {{links1}}>
                            <br><br>
                            <label for="img1">Select image:</label>
                            <input type="file" name="file1" id="img1" accept="image/*">
                            <br><br><br><br>
                            <label for="name2">Second Speaker:</label>
                            <input type="text" class="textfield" id="name2" name="name2" value= {{name2}}>
                            <br><br>
                            <label for="descrip2">Description:</label>
                            <input class="textfield" type="text" id="descrip2" name="descrip2" value= {{descrip2}}>
                            <br><br>
                            <label for="links2">Link to works:</label>
                            <input type="text" class="textfield" id="links2" name="links2" value= {{links2}}>
                            <br><br>
                            <label for="img2">Select image:</label>
                            <input type="file" name="file2" id="img2" accept="image/*">
                            <br><br>
                            <input type="submit" class="acceptButton" value = "Submit">
                        </div>
                     </form>
                 {% else %}
                    <p class="misc">You have already nominated your allowed amount of conversations.</p>
                 {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </body>
</html>