<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <title>Students' Speaker Initiative</title>
	</head>
    <body class="bg-light">
        {% include 'sHeader.html' %}
        <div class="container-fluid text-center">
            <br>
            {% if cycle.getName() %}
                {% if validation['voting'] %}
                    <p class="lead text-center font-weight-bold"> Nominations are now closed. Please vote.</p><hr>
                {% elif validation['endorsing']%}                
                     <p class="lead text-center font-weight-bold"> Nominations are now closed. Please endorse.</p><hr>
                {% elif validation['nominating'] %}    
                     {% if remaining %}
                        <p class="lead text-center font-italic font-weight-regular">This is your opportunity to nominate a conversation that you would like to create on our campus; fill out the fields below and press "submit" to nominate a conversation! You have this many nominations left: {{ remaining }}. Nominations are not retractable and you cannot endorse a conversation that you have nominated. </p><hr>
                            <!--form-->
                        <button type="button" href="#" class="newSpeaker btn btn-success btn-lg">
                            <span class="fas fa-plus"></span> Add New Speaker
                        </button><br><br>
                        <form action="ccnominate_flask" id="ccnom_form" method = "post" enctype="multipart/form-data">
                            <div class="card-deck" id="deck">
                                <div class="card" id="copy" style="border-width: thin; border-color: #F58025">
                                    <div class="card-body"> 
                                        <h4 class="card-title text-center">Speaker</h4>
                                        <input type="text" placeholder="Name" class="form-control" id="name" name="name"><br>
                                        <input type="text" placeholder="Brief Description" class="form-control" id="descrip" name="descrip"><br>
                                        <input type="url" placeholder="Links to Works/Biography" class="form-control" id="links" name="links"><br>
                                        <div class="custom-file mb-3">
                                            <input type="file" class="custom-file-input" id="img" name="file" accept="image/*">
                                            <label class="custom-file-label text-left text-secondary" id="imgLabel" for="img">Select an Image</label>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="button" class="btn removeButton btn-danger btn-lg"><span class="fas fa-minus"></span> Remove</button>
                                    </div>
                                </div>
                                <div class="card" id="copy" style="border-width: thin; border-color: #F58025">
                                    <div class="card-body"> 
                                        <h4 class="card-title text-center">Speaker</h4>
                                        <input type="text" placeholder="Name" class="form-control" id="name" name="name"><br>
                                        <input type="text" placeholder="Brief Description" class="form-control" id="descrip" name="descrip"><br>
                                        <input type="url" placeholder="Links to Works/Biography" class="form-control" id="links" name="links"><br>
                                        <div class="custom-file mb-3">
                                            <input type="file" class="custom-file-input" id="img" name="file" accept="image/*">
                                            <label class="custom-file-label text-left text-secondary" id="imgLabel" for="img">Select an Image</label>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="button" class="btn removeButton btn-danger btn-lg"><span class="fas fa-minus"></span> Remove</button>
                                    </div>
                                </div>
                            </div>
                            <br><input type="submit" class="btn btn-lg bg-primary text-light" value = "Submit">
                        </form>
                     {% else %}
                        <p class="misc">You have already nominated your allowed amount of conversations.</p><hr>
                     {% endif %}
                {% endif %}
            {% else %}
                <br><p class="lead text-center font-weight-bold">There is no current cycle. Please come back later.</p><hr>
            {% endif %}
        </div>
    </body>
        <script>
        // Changes appropriate navBar buttons to active
        $(document.getElementById("scNom")).addClass("active");
        $(document.getElementById("navConvo")).addClass("active");
<!--         // Add the following code if you want the name of the file appear on select -->


        $(document).on("click", ".newSpeaker", function() {

            let cards = document.getElementsByClassName("card");
            console.log(cards);
            if (cards.length < 4) {
                speaker = document.getElementById("copy");
                let newSpeaker = $(speaker).clone()
                $(document.getElementById("deck")).append(newSpeaker);

                // Clears the clone's input
                let inputs = $(newSpeaker).find("input");
                for (let i=0;i<inputs.length;i++) {
                    $(inputs[i]).val("")
                }
                let fileInput = $(newSpeaker).find("input.custom-file-input");
                $(fileInput).on("change", function() {
		          var fileName = $(this).val().split("\\").pop();
		          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		        });
                // Sets function for remove button
                let remove = $(newSpeaker).find("button.removeButton");
                $(remove).on('click', function () {
                    let checkCards = document.getElementsByClassName("card");
                    if (cards.length > 2)
                        $(this).parent().parent().remove();
                    else alert("You cannot have less than 2 speakers in a conversation.");
                    });      
            }
            else {
                alert("You cannot add more than 4 speakers to a conversation");
            }
            
        });

        let fileInputs = document.getElementsByClassName("custom-file-input");
        for (let i=0; i<fileInputs.length; i++){
	        $(fileInputs[i]).on("change", function() {
	          var fileName = $(this).val().split("\\").pop();
	          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	        });
    	}

        let removeButtons = document.getElementsByClassName("removeButton");
        for (let i=0; i<removeButtons.length; i++){
            $(removeButtons[i]).on('click', function () {
                let cards = document.getElementsByClassName("card");
                if (cards.length > 2)
                    $(this).parent().parent().remove();
                else alert("You cannot have less than 2 speakers in a conversation.");
            });
        }

        // $(".img1").on("change", function() {
        //   var fileName1 = $(this).val().split("\\").pop();
        //   $(this).siblings("imgLabel1").addClass("selected").html(fileName1);
        // });
        // $(".img2").on("change", function() {
        //   var fileName2 = $(this).val().split("\\").pop();
        //   $(this).siblings("imgLabel2").addClass("selected").html(fileName2);
        // });
        </script>
</html>