<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
	</head>
    <body class="bg-light">
        {% include 'sHeader.html' %}
        <div class="container-fluid">
            <br>
                {% if cycle.getName() %}
                    {% if validation['nominating'] or validation['endorsing'] %}
                            <p class="lead text-center font-weight-bold">The voting cycle will begin on {{ cycle.getDateVoting() }}.</p><hr>
                    {% elif validation['voting'] %}
                        {% if hasvoted %}
                            <br><p class="lead text-center font-weight-bold">Thank you for voting. Come back on {{ cycle.getDateEnd()}} to see the results.</p>
                        {% else %}
                            <br><p class="lead text-center font-italic">These are the current conversation panels. The voting period ends on {{ cycle.getDateEnd()}}. You have this many votes: {{cycle.getVoteNum()}}. </p><hr><br>
                            <form action="ccvote_flask" method= "post" name= "ccvote_form" id="ccvote_form">
                                        {%for conversation in conversations: %}
                                            	<div class="card text-center" style="border-width: thin; border-color: #F58025">
                                            		<div class="card-header"><h3 class="card-title text-center font-italic">Conversation Between:</h3></div>
                                                	<div class="card-body">
                                                		<div class="row text-center mx-auto justify-content-center">
                                                    	{% for speaker in conversation.getSpeakers() %}
                                                    	<div class="col-auto mx-auto mb-3">
	                                                    	<div class="card h-100" style="width: 18rem;">
	                                                    		<img data-src={{speaker[3]}} alt="" class="card-img-top cld-responsive">
		                                                    	<div class="card-body">
			                                                    	<h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
			                                                    	<p class="card-text"> Descripition: {{speaker[1]}} </p>
			                                                    	<a class="card-link" href=" {{speaker[2]}}" target="_blank"> Link to Works/Biography</a>
		                                                		</div>
		                                            		</div>
		                                            	</div>
                                                    	{% endfor %}
                                                		</div>
                                                        <p class="card-text font-italic"> This conversation currently has {{conversation.getVotes()}} vote(s).</p>
                                                	</div>
                                                    <div class="card-footer font-weight-bolder custom-control custom-checkbox">
                                                        <input type="number" class="form-control text-center bg-white text-dark font-weight-bold" placeholder="Number of Votes" name="check" id={{conversation.getConverseId()}} min= 0>
                                                        <input type="hidden" name="converseid" value={{conversation.getConverseId()}}>

                                                    </div>
                                                </div>
                                            <br>
                                         {% endfor %}
                                         <br>
                                         {% if conversations|length > 0 %}
                                            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
                                                <button class="submitVotes btn bg-primary text-light font-weight-bold">Submit Votes</button>
                                            </nav>
                                            </form>
                                         {% else %}
                                         <p class="lead text-center font-weight-bold"> There are no candidates to vote for!</p><br>
                                         {% endif %}
                                    </div>
                                <br>
                        {% endif %}
                     {% elif validation['results'] %}
                        {% if conversations|length > 0 %}
                        <h3 class="text-center"> Here are the results of the vote!</h3><hr><br>
                                {%for conversation in conversations: %}
                                    <div class="card text-center" style="border-width: thin; border-color: #F58025">
                                        <div class="card-header"><h3 class="card-title text-center font-italic">Conversation between:</h3></div>
                                        <div class="card-body">
                                            <div class="row text-center mx-auto justify-content-center">
                                            {% for speaker in conversation.getSpeakers() %}
                                                <div class="col-auto mx-auto mb-3">
                                                    <div class="card h-100" style="width: 18rem;">
                                                        <img data-src={{speaker[3]}} alt="" class="card-img-top cld-responsive">
                                                        <div class="card-body">
                                                            <h4 class="card-title font-weight-bold">{{speaker[0]}}</h4>
                                                            <p class="card-text"> Descripition: {{speaker[1]}} </p>
                                                            <a class="card-link" href=" {{speaker[2]}}" target="_blank"> Link to Works/Biography</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="card-footer">
											<p class="card-text text-center font-weight-bold lead"> Received {{conversation.getVotes()}} vote(s).</p>
										</div>
                                    </div><br>
                                {% endfor %}
                        {% else %}
                        <hr><br><p class="lead text-center font-weight-bold"> Unfortunately, no conversations made it into the voting block. Please come back later to participate in selecting a conversation panel for our campus.</p><br><hr> 
                        {% endif %}
                    {% else %}
                        <hr><br><p class="lead text-center font-weight-bold"> There is currently no active cycle. Please come back later to participate in selecting a conversation panel for our campus!</p><br><hr>  
                    {% endif %}   
            {% else %}
                <hr><br><p class="lead text-center font-weight-bold">There is no current cycle. Please come back later to participate in selecting a conversation panel for our campus! </p><br><hr>
            {% endif %}

                
        </div>
        <script type="text/javascript">
            $(document.getElementById("scVote")).addClass("active");
            $(document.getElementById("navConvo")).addClass("active");

        	// let cycleName = '{{cycle.getName()}}';
         //    if (cycleName != '') {
	        //     let voteForm = document.getElementById("ccvote_form");
	        //     if (voteForm) {
	        //         let checkgroup = document.getElementById("ccvote_form").elements.namedItem("check");
	        //         $(voteForm).submit(function(event) {
	                    
	        //             let checkedcount=0;
	        //             for (let i=0; i<checkgroup.length; i++)
	        //                 checkedcount+=(checkgroup[i].checked)? 1 : 0;
	        //             if (checkedcount==0){
	        //                 alert("You have not voted for any conversations.");
	        //                 event.preventDefault();
	        //             }
	        //         });

	        //        let limit='{{cycle.getEndorseNum()}}';
         //            if (limit != 'unlimited'){
	        //         for (let i=0; i<checkgroup.length; i++){
	        //             checkgroup[i].onclick=function(){
	        //             let checkedcount=0
	        //             for (let i=0; i<checkgroup.length; i++)
	        //                 checkedcount+=(checkgroup[i].checked)? 1 : 0;
	        //             if (checkedcount>limit){
	        //                 alert("You can only vote for a maximum of "+limit+" conversation(s).")
	        //                 this.checked=false
	        //                 }
	        //             }
	        //         }
	        //     }
	        // }
         //    }
            let cl = cloudinary.Cloudinary.new({  cloud_name: '<Cloud Name>' });
            // Call
            cl.responsive();
            
        </script>
    </body>
</html>