
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet">
        <title>Student Speakers Initiative</title>
        <style>
        {% include 'sideformat.html'%}
        {% include 'mainformat.html'%}
        {% include 'navformat.html' %}
        </style>
	</head>
    <body>
    <div class="header">
      <a href="index" class="logo">Student Speakers Initiative</a>
      <div class="header-right">
        <a href="sHome">Home</a>
        <a href="sNom">Nominate</a>
        <a class="active" href="sEndorse">Endorse</a>
        <a href="sVote">Vote</a>
        <a href='logout' class="logout">Logout</a>
      </div>
    </div>
        <div id="sidebar">
        <p>Student: {{username}}</p>
        <p>((Endorsement)) is currently underway</p>
        <p>Current period ends on ((TBD))</p>
        <p>Current Admins</p>
        <p>((Add list of admins))</p>
    </div>
    <div class="main">
            <p>These are the current candidates. You have 10 retractable endorsement votes. You have {{remaining}}
            endorsements left. </p><br>
                {%for speaker in endorsementlist: %}
                <div class="nom">
                    <form action="endorse_flask" method = "put">
                        <p class="text"> Name: {{speaker.name}}<br>
                        Description: {{speaker.description}}<br></p>
                        <input type="hidden" id="speakerid" name="speakerid" value={{speaker.speakerid}}>
                        <input type="submit" class="button" id="status" name="status" value={{speaker.endorsement}}><br>
                    </form>
                    <form action="flag_flask" method = "put">
                        <input type="submit" class="button" id="status" name="flag" value="Flag"><br>
                        <center>
                            <label for="reason">Reason:</label><br>
                            <input type="text" id="reason" name="reason"><br>
                            <input type="hidden" id="speakerid" name="speakerid" value={{speaker.speakerid}}>
                        </center>
                    </form>
                </div>
                <br>
                {% endfor %}
    </div>
    {% include 'sidescript.html'%}
</body>
</html>