<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand font-weight-bold" href="sHome">Students' Speaker Initiative</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav d-flex justify-content-end w-100">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navSpeaker" data-toggle="dropdown">
                Bring a Speaker
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="sNom" href="sNom">Nominate a Speaker</a>
                    <a class="dropdown-item" id="sEndorse" href="sEndorse">Endorse Speakers</a>
                    <a class="dropdown-item" id="sVote" href="sVote">Vote for Speakers</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navConvo" data-toggle="dropdown">
                    Create a Conversation
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="scNom" href="scNom">Nominate a Panel</a>
                    <a class="dropdown-item" id="scEndorse" href="scEndorse">Endorse Panels</a>
                    <a class="dropdown-item" id="scVote" href="scVote">Vote for Panels</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sAdminLogs">Admin Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>