
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet">
        <title>Student Speakers Initiative</title>
	</head>
    <body>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active"href="sHome">Home</a>
            <a href="sNom">Nominate</a>
            <a href="sEndorse">Endorse</a>
            <a href="sVote">Vote</a>
            <a href='logout' class="logout">Logout</a>
        </div>
        <div class="header" id="myHeader">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
          <a href="index" class="logo">Student Speakers Initiative</a>
          <a class="user"> Student: {{username}} </a>
          </div>
        <div class="main">
            <p class="misc">Welcome to the student homepage!</p>
            <br><br>
            <p class="misc">
                {% if exists == 0: %}
                There is currently no active cycle. Please come back later to participate in selecting a speaker for our campus!
                {% else: %}
                You have {{info[0][6]}} nomination and {{ info[0][4] }} endorsements. The threshold for
                a speaker to be eligible as a candidate in the voting process is {{ info[0][7] }}. You are allowed {{ info[0][5] }} votes.
                {% endif %}
            </p>
        </div>
    </body>
</html>