
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
<!--         <script src="./static/script.js" defer></script>
        <link href="./static/styles.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
	</head>
    <body class="bg-light">
        {% include 'sHeader.html' %}
        <div class="container">
            <br>
            {% if cycle.getName() %}
                {% if validation['voting'] %}
                    <p class="lead text-center font-weight-bold"> Nominations are now closed. Please vote.</p><hr>
                {% elif validation['endorsing']%}
                     <p class="lead text-center font-weight-bold"> Nominations are now closed. Please endorse.</p><hr>
                {% else %}    
                     {% if remaining %}
                        <p class="lead text-center font-italic">This is your opportunity to nominate a speaker you would like to invite to our campus! Please fill out all the fields below and press submit to nominate a speaker of your choice. You have this many nominations left: {{ remaining }}.</p><hr>
                            <!--form-->
                        <form action="nominate_flask" id="nom_form" method = "post" enctype="multipart/form-data">
                            <div class="card text-center " style="border-width: thin; border-color: #F58025">
                                <div class="justify-content-center card-body form-group">
                                    <h2 class="text-center font-weight-bold">Speaker Information:</h2><br>
                                    <input type="text" placeholder="Name of Speaker" class="form-control" id="name" name="name" value= {{name}}>
                                    <br>
                                    <input type="text" placeholder="Brief Description of Speaker" class="form-control" id="descrip" name="descrip" value= {{descrip}}>
                                    <br>
                                    <input type="url" placeholder="Link to Works/Biography" class="form-control" id="links" name="links" value= {{links}}>
                                    <br>
                                    <div class="custom-file mb-3">
                                      <input type="file" class="custom-file-input" id="img" name="file" accept="image/*">
                                      <label class="custom-file-label text-left text-secondary" for="img">Select Image of Speaker</label>
                                    </div>
                                </div>
                                <div class="card-footer"><input type="submit" class="btn btn-lg bg-primary text-light" value = "Submit"></div>
                            </div>
                         </form>
                         <hr><p class="text-center font-italic"> Please note: nominations are not retractable, and you cannot endorse a candidate that you have nominated.  </p>
                     {% else %}
                        <p class="lead text-center font-weight-bold">You have already nominated your allowed amount of speakers.</p><hr>
                     {% endif %}
                {% endif %}
            {% else %}
                      <br><p class="lead text-center font-weight-bold">There is no current cycle. Please come back later.</p><hr>
            {% endif %}
        </div>
        <script>
        // Changes appropriate navBar buttons to active
        $(document.getElementById("sNom")).addClass("active");
        $(document.getElementById("navSpeaker")).addClass("active");

        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        // Makes sure that no fields are empty.
        let nomForm = document.getElementById("nom_form");
        if (nomForm) {
            $(nomForm).submit(function(event) {
                let formElements = nomForm.elements;
                let emptyVal = 0;
                for (let i=0; i<formElements.length; i++){
                    if (formElements[i].value == ""){
                        emptyVal = 1;
                    }
                }
                if (emptyVal) {
                    alert("Please fill out all fields.");
                    event.preventDefault();
                }
            });
        }
        </script>
    </body>
</html>