
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Students' Speaker Initiative</title>
	</head>
    <body class="bg-light">
        {% include 'sHeader.html' %}
        <div class="container-fluid text-center">
            <br>
            {% if cycle.getName() %}
                {% if validation['nominating'] %}    
                     {% if remaining %}
                        <h4>This is your opportunity to nominate a speaker you would like to invite to our campus! Please fill out all the fields below and press submit to nominate a speaker of your choice. You have this many nominations left: {{ remaining }}.</h4><hr>
                        <div class="container">
                            <form action="nominate_flask" id="nom_form" method = "post" enctype="multipart/form-data" autocomplete="off">
                                <div class="card text-center " style="border-width: thin; border-color: #F58025">
                                    <div class="justify-content-center card-body form-group">
                                        <h2 class="text-center font-weight-bold">Speaker Information:</h2><br>
                                        <input type="text" placeholder="Name of Speaker" class="form-control" id="name" name="name" required>
                                        <br>
                                        <input type="text" placeholder="Brief Description of Speaker" class="form-control" id="descrip" name="descrip" required>
                                        <br>
                                        <input type="url" placeholder="Link to Works/Biography" class="form-control" id="links" name="links" required>
                                        <br>
                                        <div class="custom-file mb-3">
                                          <input type="file" class="custom-file-input" id="img" name="file" accept="image/*" required>
                                          <label class="custom-file-label text-left text-secondary" for="img">Select Image of Speaker</label>
                                        </div>
                                    </div>
                                    <div class="card-footer"><button class="btn btn-lg bg-primary text-light" id="submitButton">Submit Nomination</button></div>
                                </div>
                             </form>
                             <hr><p class="text-center font-italic"> Please note: nominations are not retractable, and you cannot endorse a speaker that you have nominated.</p><hr><br>
                        </div>
                     {% else %}
                        <hr><br><h3>You have already nominated your allowed amount of speakers.</h3><br><hr>
                     {% endif %}
                {% elif validation['voting'] %}
                    <hr><br><h3> Nominations are closed. Please vote.</h3><br><hr>
                {% elif validation['endorsing']%}
                    <hr><br><h3> Nominations are closed. Please endorse.</h3><br><hr>
                {% else %}
                    <hr><br><h3> Nominations are closed. Please come back later to participate in selecting a speaker for our campus!</h3><br><hr>
                {% endif %}
            {% else %}
                    <hr><br><h3>Nominations are closed. Please come back later to participate in selecting a speaker for our campus!</h3><br><hr>
            {% endif %}
        </div>
        <script>
            function setup()
            {
                $(document.getElementById("sNom")).addClass("active");
                $(document.getElementById("navSpeaker")).addClass("active");
                $(document.getElementById("nom_form")).on("submit", function(){
                    $(document.getElementById("submitButton")).prop("disabled", true);
                    $(document.getElementById("submitButton")).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
                })
                $(".custom-file-input").on("change", function() {
                  var fileName = $(this).val().split("\\").pop();
                  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
             }
             
            $('document').ready(setup);
        </script>
    </body>
</html>