<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
		<title>Students' Speaker Initiative</title>
		<style>
            .card-img-top {
                width: 100%;
                height: 18rem;
                object-fit: cover;
            }
        </style>	
	</head>
	<body class="bg-light">
		{% include 'sHeader.html' %}
		<div class="container-fluid text-center">
			<br>
			{% if cycle.getName() %}
					{% if validation['nominating'] or validation['endorsing'] %}
							<hr><br><h3>The voting cycle will begin on {{ cycle.getDateVoting().strftime("%b %d, %Y") }}.</h3><br><hr>
					{% elif validation['voting'] %}
						{% if hasvoted %}
							<hr><br><h3>Thank you for voting. Come back on {{ cycle.getDateEnd().strftime("%b %d, %Y") }} to see the results.</h3><br><hr>
						{% elif speakers|length > 0 %}
							<h4>These are the current candidates. You can use these at any time during the voting period. The voting period ends on {{ cycle.getDateEnd().strftime("%b %d, %Y") }}. You have {{cycle.getVoteNum()}} vote(s).</h4><hr>
									<form action="vote_flask" method= "post" name="vote_form" id="vote_form" autocomplete="off">
										<div class="row row-cols-2 text-center mx-auto justify-content-center">
										{%for speaker in speakers: %}
										<div class="col-auto mb-3">
											<div class="card card h-100" style="width: 18rem; border-width: thin; border-color: #F58025">
												<img data-src={{speaker.getImgLink()}} alt="" class="card-img-top cld-responsive">
												<div class="card-body">
													<h4 class="card-title">{{speaker.getName()}}</h4>
													<p class="card-text"> Description: {{speaker.getDescrip()}}</p>
													<a class="card-link" href=" {{speaker.getLinks()}}" target="_blank"> Link to Works/Biography</a><br><br>
												</div>
												<div class="card-footer">
													<input type="number" class="form-control text-center bg-white text-dark font-weight-bold" placeholder="Number of Votes" name="number" id={{speaker.getSpeakid()}} data-name="{{speaker.getName()}}" min= 0>
													<input type="hidden" name="speakid" value="{{ speaker.getSpeakid() }}">
												</div>
											</div>
										</div>
										 {% endfor %}
										</div>
										<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
                                            <button type="button" class="voteButton btn bg-primary text-light font-weight-bold">Submit Votes</button>
                                        </nav> 
									</form>
									<hr><br><br>
						{% else %}
                        	<hr><br><h3> Unfortunately, no speakers made it into the voting block. Please come back later to participate in selecting a speaker for our campus.</h3><br><hr> 
                        {% endif %}
					{% elif validation['results'] %}
						{% if speakers|length > 0 %}
						<h3> Here are the results of the vote!</h3><p class="text-center font-italic p-0 m-0"> Please note: results will only be available until {{cycle.getDateEnd().strftime("%b %d, %Y") }}.</p><hr>
							<div class="row row-cols-2 text-center mx-auto justify-content-center">
								{%for speaker in speakers: %}
									<div class="col-auto mb-3">
										<div class="card card h-100" style="width: 18rem; border-width: thin; border-color: #F58025">
											<img data-src="{{speaker.getImgLink()}}" alt="" class="card-img-top cld-responsive">
											<div class="card-body">
												<h4 class="card-title">{{speaker.getName()}}</h4>
												<p class="card-text"> Description: {{speaker.getDescrip()}}</p>
												<a class="card-link" href=" {{speaker.getLinks()}}" target="_blank"> Link to Works/Biography</a>
											</div>
											<div class="card-footer">
												<p class="card-text font-weight-bold lead"> Received {{speaker.getVotes()}} vote(s).</p>
											</div>
										</div>
									</div>
								{% endfor %}
							</div><hr><br>
						{% else %}
                        	<hr><br><h3> Unfortunately, no speakers made it into the voting block. Please come back later to participate in selecting a speaker for our campus.</h3><br><hr> 
                        {% endif %}
					{% else %}
						<hr><br><h3> There is currently no active cycle. Please come back later to participate in selecting a speaker for our campus!</h3><br><hr>	
					{% endif %}   
			{% else %}
				<hr><br><h3>There is no current cycle. Please come back later to participate in selecting a speaker for our campus! </h3><br><hr>
			{% endif %}

		</div>
		<div class="modal" id="confirmModal">
			<div class="modal-dialog modal-dialog-scrollable">
				  <div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title text-center">Confirm Votes</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body text-center">
						<p class="font-weight-bold"> You are about to vote for the following speakers: </p>
						<p id="names" class="font-italic"></p>
					</div>
						<div class="modal-footer form-group justify-content-between">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel Submission</button>
							<button type="button" class="submit btn btn-primary" name="submitVotes">Confirm Submission</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal" id="errorModal">
	        <div class="modal-dialog modal-dialog-scrollable">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h3 class="modal-title">Error</h3>
	                    <button type="button" class="close" data-dismiss="modal">&times;</button>
	                </div>
	                <div class="modal-body text-center">
	                    <p id="error" class="lead"></p>
	                </div>
	                <div class="modal-footer">
	                        <button type="button" class="btn btn-danger mx-auto" data-dismiss="modal">Dismiss This Message</button>
	                </div>
	            </div>
	        </div>
    	</div>
		<script type="text/javascript">
			let voteList = []
			function voteValidation() {
				let cycleName = '{{cycle.getName()}}';
				if (cycleName != '') {

					$(document).on("click", ".submit", function(e) {
							if (voteList.length==0){
								$('#errorModal').modal("show");
	                        	$("p[id='error']").html("You have not voted for any speakers.");
								return false;
							}
							else {
						      $(this).prop("disabled", true);
						      $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Submitting...');
						      document.getElementById("vote_form").submit();
							}

					});

					$(document).on("click", ".voteButton", function(e) {
						if (Object.keys(voteList).length==0){
							$('#errorModal').modal("show");
	                        $("p[id='error']").html("You have not voted for any speakers.");
						}
						else {
							$('#confirmModal').modal("show")
							let namesArray = Object.values(voteList);

							names = namesArray[0]
							for (let i=1; i<namesArray.length; i++){
								names += "<br>" + namesArray[i];
							}

							$("p[id='names']").html(names);
						}

					});

				    let voteForm = document.getElementById("vote_form");
				    if (voteForm) {
				        let numgroup = document.getElementById("vote_form").elements.namedItem("number");
				        $(document).on('keydown','input', function(e){
							        if (e.shiftKey === true ) {
							            if (e.which == 9) {
							                return true;
							            }
							            return false;
							        }
							        if (e.which > 57) {
							            return false;
							        }
							        if (e.which==32) {
							            return false;
							        }
							        return true;
							    });
				        $(document).on('change','input', function(){
							let current = $(this).val();
							let name = $(this).attr('data-name');
							let speakid = this.id;
							if (parseInt(current) == 0){
					            delete voteList[speakid];
					        }
							else if (isNaN(parseInt(current)) || parseInt(current) < 0){
							   	$(this).val(0);
					            $('#errorModal').modal("show");
	                        	$("p[id='error']").html("This number of votes is invalid. Only positive integers within the limit are valid");
					            delete voteList[speakid];
					        }
					       	else {
					      		let limit='{{cycle.getVoteNum()}}';
				        		if (limit != 'unlimited'){
								    let numcount=0
						            for (let i=0; i<numgroup.length; i++)
						                if ($(numgroup[i]).val()) {
						                    numcount += parseInt($(numgroup[i]).val());
						                }
						            if (parseInt(numcount) > parseInt(limit)){
						             	let max = parseInt(limit) - (parseInt(numcount) - current);
						             	if (max > 0) 
						             		voteList[speakid]=name;
						             	else {
						             		delete voteList[speakid];
						             	}
								    	$(this).val(max);
						                $('#errorModal').modal("show");
	                        			$("p[id='error']").html("You can only use a maximum of "+limit+" vote(s).")
						            }
						            else voteList[speakid]=name;
					       		}
					       		else voteList[speakid]=name;
					       	}
						});
				    }
				}
			}

			function navbarUpdate(){
                if ("{{validation['nominating']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-success font-weight-bold");
                    $(document.getElementById("navEndorse")).addClass("btn-info font-weight-bold");
                    $(document.getElementById("navVote")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['endorsing']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-success font-weight-bold");
                    $(document.getElementById("navVote")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['voting']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navVote")).addClass("btn-success font-weight-bold");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
                else if ("{{validation['results']}}" == "True") {
                    $(document.getElementById("navNom")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navVote")).addClass("btn-outline-danger disabled");
                    $(document.getElementById("navResults")).addClass("btn-success font-weight-bold");
                }
                else {
                    $(document.getElementById("navNom")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navEndorse")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navVote")).addClass("btn-outline-light disabled");
                    $(document.getElementById("navResults")).addClass("btn-outline-light disabled");
                }
            }
			
			function setup()
	        {
				let cl = cloudinary.Cloudinary.new({  cloud_name: '<Cloud Name>' });
				cl.responsive();

				$(document.getElementById("sVote")).addClass("active");
				navbarUpdate();

	            voteValidation();
	        }
	         
	        $('document').ready(setup);
		</script>
	</body>
</html>